body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
%shape {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
// .shape 는 가상클래스다 /  shape라는곳이 없으니까
.card {
  display: flex;
  gap: 30px;
  &-item {
    @extend %shape;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
