@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.6rem;
}
section {
  width: 800px;
}

/* heading */
.heading {
  margin-bottom: 30px;
}
.heading h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.heading h1 span {
  color: crimson;
}
.heading input[type="text"] {
  border: none;
  width: 100%;
  padding: 10px;
  background: #fff url("./images/search-icon.png") center left / 20px no-repeat;
  padding-left: 30px;
  border-bottom: 2px solid #ddd;
}
/* 반복이 아니라서 no-repeat */
/* 수직에서는 센터, 수평에서는 왼쪽정렬 */
/* cover가 아니고 20px */
.heading input[type="text"]:focus {
  outline: none;
}
.heading input[type="text"]::placeholder {
  transition: all 0.3s;
}
.heading input[type="text"]:focus::placeholder {
  opacity: 0;
}

/* tab-btn */
.btn {
  overflow: hidden;
}
/* overflow: hidden; 준 이유.btn li 한테 float: left; 주려고 */
.btn li {
  float: left;
  width: 160px;
  text-align: center;
  background: #eee;
  padding: 5px;
  border-top: 2px solid transparent;
  border-right: 1px solid #ddd;
}
.btn li:last-child {
  border-right: none;
}
.btn li:hover,
.btn li.active {
  background: #fff;
  border-top: 2px solid crimson;
}
/* active가 되었을때 */

/* tab */
.tabs div {
  background: #fff;
  display: none;
  padding: 20px;
  overflow: hidden;
}
/* 뒤에 따라오는 애는 없지만
혹여나 다음번에 따라오는 요소가 생길수 있으니 
overflow: hidden;줘라 */
.tabs div.active {
  display: block;
}
.tabs div h2 {
  text-align: center;
}
/* 가운데 정렬할때
margin:auto 하기도 하고
text-align: center 하기도 하는데 이유는뭘까? */
.tabs div img {
  float: left;
  margin-right: 10px;
}
