.parent {
  border: 5px solid green;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; 각각 위치내에서 센터 */
  align-content: space-around;
}
/* align-content: center; 한묶음에서 센터 */
.parent div {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: #fff;
  text-align: center;
  background-color: blue;
}
