* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --maincolor: #03c75a;
  --maincolor2: #0aa95d;
  --maincolor3: #09aa5c;
  --fontcolor1: #1e1e23;
  --fontcolor2: #222;
  --fontcolor3: #333;
  --fontcolor5: #555;
  --fontcolor6: #666;
  --fontcolor7: #777;
  --fontcolor8: #8e8e8e;
  --errorcolor: #ff003e;
}

:root {
  --maincolor: #03c75a;
  --maincolor2: #0aa95d;
  --maincolor3: #09aa5c;
  --fontcolor1: #1e1e23;
  --fontcolor2: #222;
  --fontcolor3: #333;
  --fontcolor5: #555;
  --fontcolor6: #666;
  --fontcolor7: #777;
  --fontcolor8: #8e8e8e;
  --errorcolor: #ff003e;
}

body {
  flex: 1;
  width: 100%;
  height: auto;
}
body form {
  width: 100%;
  height: 100%;
  height: auto;
}
body form article .input_id {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border: 1px solid #dadada;
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  padding: 14px 17px 13px;
  display: flex;
  flex-direction: row;
}
body form article .input_id .idIcons {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 24px;
}
body form article .input_id .idIcons .idIcon {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 16px;
  height: 16px;
  background-position: -174px -255px;
  background-repeat: no-repeat;
  margin-top: -8px;
}
body form article .input_id .idIcons .idIcon_noClick {
  display: inline;
}
body form article .input_id .idIcons .idIcon_click {
  display: none;
}
body form article .input_id input {
  display: table-cell;
  box-sizing: border-box;
  width: 100%;
  background: 0 0;
  border: none;
  border-radius: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #222;
  z-index: 4;
  cursor: pointer;
}
body form article .input_id input::-moz-placeholder {
  color: #929294;
}
body form article .input_id input::placeholder {
  color: #929294;
}
body form article .input_id input:focus {
  outline: none;
}
body form article .input_id .xGray_button {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 35px;
  height: 35px;
  z-index: 5;
  display: none;
}
body form article .input_id .xGray_button .xGray {
  display: inline-block;
  position: -179px -182px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 8px 0 0 8px;
}
body form article .input_pw {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border: 1px solid #dadada;
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  padding: 14px 17px 13px;
  border-radius: 0 0 6px 6px;
}
body form article .input_pw .pwIcons {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 24px;
}
body form article .input_pw .pwIcons .pwIcon {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 16px;
  height: 16px;
  background-position: -174px -255px;
  background-repeat: no-repeat;
  margin-top: -8px;
}
body form article .input_pw .pwIcons .pwIcon_noClick {
  display: inline;
}
body form article .input_pw .pwIcons .pwIcon_click {
  display: none;
}
body form article .input_pw input {
  display: table-cell;
  box-sizing: border-box;
  width: 100%;
  background: 0 0;
  border: none;
  border-radius: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #222;
  z-index: 4;
  cursor: pointer;
}
body form article .input_pw input::-moz-placeholder {
  color: #929294;
}
body form article .input_pw input::placeholder {
  color: #929294;
}
body form article .input_pw input:focus {
  outline: none;
}
body form article .input_pw .xGray_button {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 35px;
  height: 35px;
  z-index: 5;
  display: none;
}
body form article .input_pw .xGray_button .xGray {
  display: inline-block;
  position: -179px -182px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 8px 0 0 8px;
}
body form article .input_click {
  border: 1px solid var(--fontcolor7);
}
body form .login_setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 90px;
  margin-top: 13px;
}
body form .login_setting .state {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}
body form .login_setting .state #state_icon {
  display: none;
  cursor: pointer;
}
body form .login_setting .state .state_button {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../imgs/state_icon.png") center/cover no-repeat;
}
body form .login_setting .state .state_button_click {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../imgs/state_icon_click.png") center/cover no-repeat;
}
body form .login_setting .state .state_check {
  display: inline-block;
  font: 500 14px/17px "sans-serif";
  color: var(--fontcolor7);
  cursor: pointer;
}
body form .login_setting .ip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: auto;
  right: 0;
}
body form .login_setting .ip a {
  display: inline-block;
  font: 500 14px/17px "sans-serif";
  letter-spacing: -0.41px;
  color: var(--fontcolor7);
  cursor: pointer;
}
body form .login_setting .ip #ip_icon {
  display: none;
  cursor: pointer;
}
body form .login_setting .ip .ip_button {
  display: block;
  position: relative;
  top: -1px;
  width: 33px;
  height: 18px;
  background-color: #c3c8c9;
  border-radius: 12px;
  margin-left: 4px;
  transition: all 0.2s ease;
}
body form .login_setting .ip .ip_button .ip_button_circle {
  position: absolute;
  display: block;
  top: 50%;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: all 0.1s ease;
}
body form .login_setting .ip .ip_button_check {
  display: block;
  position: relative;
  top: -1px;
  width: 33px;
  height: 18px;
  background-color: #c3c8c9;
  border-radius: 12px;
  margin-left: 4px;
  transition: all 0.2s ease;
  background-color: var(--maincolor);
}
body form .error-msg {
  align-items: center;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: var(--errorcolor);
  margin: 24px 0 -22px;
  opacity: 0;
}
body form .error-msg .noIDPW {
  font-weight: bold;
}
body form button {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: var(--maincolor2);
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 13px 0 13px;
  margin-top: 38px;
  font: 700 20px/24px "sans-serif";
  color: #fff;
}/*# sourceMappingURL=id.css.map */