/* reset */
@import url("../reset.css");

/* ------------------<jj_header>----------------- */
body {
  width: 100%;
}
.header-notice {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #000;
  span {
    height: 13px;
    cursor: pointer;
    padding: 0 50px;

    font-weight: Medium;
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: "Pretendard", sans-serif;
    /* font: Medium 0.6875rem/1 "Pretendard", sans-serif; */

    color: #fff;
    letter-spacing: -5%;
  }
  span:nth-child(2) {
    border-left: 0.7px solid #fff;
    border-right: 0.7px solid #fff;
  }
}
.header-main {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    background: none;
    margin-left: 50px;
    h4 {
      font-weight: SemiBold;
      font-style: normal;
      font-size: 20px;
      /* font-size: rem; */
      font-family: "Montserrat", sans-serif;
      /* font: SemiBold 0.20px/1 "Montserrat", sans-serif; */
      letter-spacing: -5%;
      color: #000;
      
    }
    img {
      display: none;
    }
  }
  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    img {
      height: 40px;
    }
  }
  .gnb {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      display: flex;
      align-items: center;
      margin-left: 20px;
      img {
        height: 17px;
      }
    }
    span:nth-child(1) {
      margin: 0;
    }
  }
}
#header-menu {
  display: none;
}
/* ------------------<jj_footer>----------------- */
.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  .customer {
    h4 {
      width: 56px;
      padding-bottom: 10px;
      margin: 0 10px 20px;
      border-bottom: 1px solid #000;
      font-weight: SemiBold;
      font-size: 16px;
      /* font-size: rem; */
      font-family: "Pretendard", sans-serif;
      /* font: SemiBold 16pxx/1 "Montserrat", sans-serif; */
      color: #000;
    }
    .customer-text {
      margin-bottom: 30px;
      font-weight: SemiBold;
      font-size: 12px;
      /* font-size: rem; */
      line-height: 10px;
      font-family: "Pretendard", sans-serif;
      /* font: SemiBold 12px/10px "Pretendard", sans-serif; */
      letter-spacing: -5%;
      color: #595959;
      .operating-time {
        margin: 0 10px 10px;
      }
      .email {
        margin: 0 10px 30px;
      }
      p:nth-child(3) {
        margin: 0 10px;
        font-size: 10px;
        font-weight: Medium;
      }
    }
    .customer-contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px;
      .contact-number {
        font-weight: Medium;
        font-size: 20px;
        /* font-size: rem; */
        line-height: 10px;
        font-family: "Pretendard", sans-serif;
        /* font: Medium 20px/10px "Pretendard", sans-serif; */
        letter-spacing: -5%;
        color: #595959;
      }
      .inquiry {
        display: flex;
        gap: 10px;
        .faq,
        .one2one {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 28px;
          border: 1px solid #000;
          font-weight: Medium;
          font-size: 14px;
          /* font-size: rem; */
          line-height: 10px;
          font-family: "Pretendard", sans-serif;
          /* font: Medium 14px/10px "Pretendard", sans-serif; */
          letter-spacing: -5%;
          color: #000;
        }
        .faq {
          font-family: "Montserrat";
          font-weight: Medium;
          /* font: Medium 14px/10px "Montserrat", sans-serif; */
        }
        .one2one {
          font-family: "Pretendard";
          font-weight: Medium;
          /* font: Medium 14px/10px "Pretendard", sans-serif; */
        }
      }
    }
  }
  .company-info {
    margin-left: 100px;
    margin-right: 96px;
    .company-title {
      width: 134px;
      padding-bottom: 10px;
      margin: 0 10px 20px;
      border-bottom: 1px solid #000;

      font-weight: SemiBold;
      font-size: 16px;
      /* font-size: rem; */
      font-family: "Montserrat", sans-serif;
      /* font: SemiBold 16px/1 "Montserrat", sans-serif; */
      color: #000;
    }
    .company-text {
      margin-bottom: 30px;
      .company-sub1 {
        display: flex;
        margin-bottom: 10px;
        h4 {
          border-left: 1px solid #595959;
          padding: 0 10px;
          font-weight: Regular;
          font-size: 14px;
          /* font-size: rem; */
          line-height: 10px;
          font-family: "Pretendard", sans-serif;
          /* font: Regular 14px/10px "Pretendard", sans-serif; */
          letter-spacing: -5%;
          color: #595959;
        }
        h4:nth-child(1) {
          font-size: 12px;
          border: none;
        }
      }
      .company-sub2 {
        display: flex;
        margin-bottom: 30px;
        h4 {
          border-left: 1px solid #595959;
          padding: 0 10px;
          font-weight: Regular;
          font-size: 12px;
          /* font-size: rem; */
          line-height: 10px;
          font-family: "Pretendard", sans-serif;
          /* font: Regular 12px/10px "Pretendard", sans-serif; */
          letter-spacing: -5%;
          color: #595959;
        }
        h4:nth-child(1) {
          border: none;
        }
      }
      .company-sub3 {
        padding: 0 10px;
        font-weight: Regular;
        font-size: 12px;
        /* font-size: rem; */
        line-height: 10px;
        font-family: "Pretendard", sans-serif;
        /* font: Regular 12px/10px "Pretendard", sans-serif; */
        letter-spacing: -5%;
        color: #595959;
      }
    }
    #company-site-type {
      border: 1px solid #000;
      width: 130px;
      height: 28px;
      margin: 0 10px;
      padding-right: 20px;
      option {
        font-weight: Regular;
        font-size: 14px;
        /* font-size: rem; */
        line-height: 10px;
        font-family: "Montserrat", sans-serif;
        /* font: Regular 14px/10px "Montserrat", sans-serif; */
        letter-spacing: -5%;
        color: #000;
      }
      /* &:focus {
        border: 1px solid #00f;
      } */
    }
  }
  .app {
    display: flex;
    padding-bottom: 52px;
    .TBH {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 20px;
      border-right: 1px solid #595959;
      .tbh-app {
        border: 1px solid #595959;
        border-radius: 10px;
        padding: 17px 5px;
        margin-right: 10px;
        font-weight: Regular;
        font-size: 6px;
        /* font-size: rem; */
        font-family: "Pretendard", sans-serif;
        /* font: Regular 6px/1 "Pretendard", sans-serif; */
        letter-spacing: 5%;
        color: #000;
        b {
          font-weight: Extra-bold;
        }
      }
      .tbh-text {
        display: flex;
        flex-direction: column;
        b {
          font-weight: Bold;
          font-size: 8px;
          /* font-size: rem; */
          font-family: "Pretendard", sans-serif;
          /* font: Bold 8px/1 "Pretendard", sans-serif; */
          letter-spacing: 5%;
          color: #000;
          em {
            color: #2d367e;
            font-style: normal;
          }
        }
        .tbh-text-sub {
          display: flex;
          align-items: center;
          i {
            width: 15px;
            height: 15px;
            font-size: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          h4 {
            font-weight: Medium;
            font-size: 8px;
            /* font-size: rem; */
            font-family: "Pretendard", sans-serif;
            /* font: Medium 8px/1 "Pretendard", sans-serif; */
            letter-spacing: 5%;
            color: #000;
          }
        }
      }
    }
    .kakao {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #595959;
      border-radius: 10px;
      width: 42px;
      height: 42px;
      margin: 0 20px;
    }
    .live-on {
      position: relative;
      .live-on-text {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 42px;
        height: 42px;
        background: #000;
        h4 {
          font-weight: SemiBold;
          font-size: 12px;
          /* font-size: rem; */
          font-family: "Pretendard", sans-serif;
          /* font: Medium 12px/1 "Pretendard", sans-serif; */
          letter-spacing: 5%;
          color: #fff;
        }
      }
      .red-circle {
        position: absolute;
        top: -4px;
        left: 35px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #f00;
      }
    }
  }
}
