@import url("./reset.css");
@import url("./mixin.css");

/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* Custom Font Face Definitions */
@font-face {
  font-family: "Kcc-Ganpan";
  src: url("../font/KCC-Ganpan.otf") format("woff2");
}
@font-face {
  font-family: "Kcc-Dodamdodam";
  src: url("../font/KCCDodamdodam_OTF.otf") format("woff2");
}
@font-face {
  font-family: "Nanum-S-N";
  src: url("../font/NanumSquareNeoOTF-Rg.otf") format("woff2");
}

@mixin bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
}
@mixin logo {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  // left: 1rem;
  color: #201c14;
  .logo-back {
    color: #ff5d2c;
  }
}
@mixin logo-t {
  font-size: 2.7rem;
  position: absolute;
  left: 10%;
  color: #201c14;
  .logo-back {
    color: #ff5d2c;
  }
}
@mixin logo-m {
  font-size: 2.3rem;
  position: absolute;
  left: 6%;
  color: #201c14;
  .logo-back {
    color: #ff5d2c;
  }
}
@mixin menu {
  position: absolute;
  right: 10%;
  display: flex;
}
@mixin menu-on {
  font: normal 1.4rem/1 "Roboto", sans-serif;
  color: #ff5d2c;
  margin: 1rem;
  .menu-on-left,
  .menu-on-right {
    color: #ff8255;
    margin: 10px;
  }
}
@mixin menu-on-t {
  font: normal 1.2rem/1 "Roboto", sans-serif;
  color: #ff5d2c;
  margin: 1rem;
  .menu-on-left,
  .menu-on-right {
    color: #ff8255;
    margin: 10px;
  }
}
@mixin menu-off {
  font: normal 1.1rem/1 "Roboto", sans-serif;
  margin: 1.2rem;
}
@mixin menu-off-t {
  font: normal 0.9em/1 "Roboto", sans-serif;
  margin: 1.2rem;
}
@mixin sns {
  left: 4%;
  bottom: 35%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}
@mixin social {
  font: normal 1.2rem/1 "Roboto";
  letter-spacing: 0.07rem;
}
@mixin social-t {
  font: normal 1.1rem/1 "Roboto";
  letter-spacing: 0.3rem;
}
@mixin sns-icons {
  .fa-square-instagram {
    margin: 0.5rem;
  }
  .fa-square-facebook {
    margin: 0.5rem;
  }
  .fa-github {
    margin: 0.5rem;
  }
  .fa-google {
    margin: 0.5rem;
  }
}
@mixin sns-icons-t {
  .fa-square-instagram {
    margin: 0.4rem;
  }
  .fa-square-facebook {
    margin: 0.4rem;
  }
  .fa-github {
    margin: 0.4rem;
  }
  .fa-google {
    margin: 0.4rem;
  }
}

// ----------------------------------
// < keyframes >
@keyframes section-bg {
  0% {
    opacity: 0;
    margin-left: -8%;
  }
  100% {
    opacity: 1;
    margin-left: 1;
  }
}
@keyframes W2 {
  0% {
    left: 87%;
    opacity: 0;
  }
  7% {
    left: 84%;
    opacity: 1;
  }
  80% {
    left: 43%;
    opacity: 1;
  }
  100% {
    left: 36%;
    opacity: 0;
  }
}
@keyframes right1 {
  0% {
    opacity: 0;
    margin-left: 10%;
  }
  100% {
    opacity: 1;
    margin-left: 1;
  }
}
@keyframes right2 {
  0% {
    opacity: 0;
    margin-left: 3%;
  }
  100% {
    opacity: 1;
    margin-left: 1;
  }
}
@keyframes section-bg {
  0% {
    opacity: 0;
    margin-left: -3rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes contact-c {
  0% {
    opacity: 0;
    right: -3rem;
  }
  5% {
    opacity: 1;
    right: 0rem;
  }
  95% {
    opacity: 1;
    right: 47rem;
  }
  100% {
    opacity: 0;
    right: 50rem;
  }
}
