* {
  padding: 0;
  margin: 0;
  /* font-family: "Kcc-Ganpan"; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@import url("./reset.css");
@import url("./mixin.css");

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* Custom Font Face Definitions */
@font-face {
  font-family: "Kcc-Ganpan";
  src: url("../font/KCC-Ganpan.otf") format("woff2");
}
@font-face {
  font-family: "Nanum-S-N";
  src: url("../font/NanumSquareNeoOTF-Rg.otf") format("woff2");
}
@font-face {
  font-family: "NanumSquareRound-R";
  src: url("../font/NanumSquareRoundOTFR.otf") format("woff2");
}
@font-face {
  font-family: "NanumSquareRound-L";
  src: url("../font/NanumSquareRoundOTFL.otf") format("woff2");
}
@font-face {
  font-family: "NanumSquareRound-B";
  src: url("../font/NanumSquareRoundOTFB.otf") format("woff2");
}
@font-face {
  font-family: "NanumBarunpenB";
  src: url("../font/NanumBarunpenB.otf") format("woff2");
}
@font-face {
  font-family: "NanumBarunpenR";
  src: url("../font/NanumBarunpenR.otf") format("woff2");
}