* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
#container {
  width: 700px;
  height: 400px;
  /* border: 1px solid #ccc; */
  /* 위치 확인하려고 줬던거다 */
  border-radius: 10px;
  overflow: hidden;
  /* 이미지 들어왔을때 삐져나가는 부분 안보이게하려고 */
  display: flex;
  align-items: center;
  /* 수직의 정렬 */
  position: relative;
  /* 화살표 하나는 왼쪽, 하나는 오른쪽 보낼거라서 */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 어차피 js로 이미지태그들을 만들겠지만 */
  /* 아이유 이미지들의 크기가 다 제각각이다 => 미리 스타일 정의 해주자 */
}
.arrow {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 3px;
  /* 위 아래 좌우측 */
  border-radius: 100%;
  font-size: 1.6rem;
  opacity: 0.2;
  transition: opacity 0.3s;
  cursor: pointer;
}
.arrow:hover {
  opacity: 1;
}
.arrow#left {
  left: 10px;
}
.arrow#right {
  right: 10px;
}
.slide_pagers {
  display: flex;
  gap: 10px;
}
.slide_pagers li {
  width: 10px;
  height: 10px;
  background: #ddd;
  text-indent: -999px;
  /* 텍스트를 저멀리로 보내버렸다 */
  border-radius: 100%;
  cursor: pointer;
}
.slide_pagers li.active {
  background: #000;
}
