body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin borer-style($width, $style, $color) {
  // 어떠한 스타일의 그룹을 정하거나
  // 함수를 정하거나
  border: $width $style $color;
  // border: 1px solid #f00;
}
@mixin button-padding($updown, $leftright) {
  padding: $updown $leftright;
}

.buttons {
  button {
    background: #fff;
    // border: 1px solid #f00;
    padding: 7px;
    cursor: pointer;
    font-size: 18px;
    @include button-padding(20px, 150px);
    &.approval {
      @include borer-style(2px, solid, blue);
    }
    &.refuse {
      @include borer-style(2px, solid, red);
    }
  }
}
