* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    border: 1px solid #000;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login_kind {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 99%;
      height: 20%;
      .id {
        border: 1px solid #f00;
        background: orange;
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .id-span {
        }
      }
      .once {
        border: 1px solid #f00;
        background: yellowgreen;
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .qr {
        border: 1px solid #f00;
        background: dodgerblue;
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .inner {
      background: cornsilk;
      width: 99%;
      height: 79.3%;
    }
  }
}
