/* reset */
@import url("./reset.css");

body {
  width: 100%;
  height: 100%;
}
.header-iframe {
  width: 100%;
  /* height: 115px; */
  height: 100%;
}
.footer-iframe {
  width: 100%;
  /* height: 400px; */
  height: 100%;
}