/* reset */
li {
  list-style: none;
}
button {
  border: none;
}
div,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

#sliderWrap {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

/* slide item */
#sliderWrap .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#sliderWrap .slider li {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
#sliderWrap .slider li .itemWrap {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* item background color */
#sliderWrap .slider li:nth-child(1) .itemWrap {
  background-color: #ff8181;
}
#sliderWrap .slider li:nth-child(2) .itemWrap {
  background-color: #fff281;
}
#sliderWrap .slider li:nth-child(3) .itemWrap {
  background-color: #81d1ff;
}

/* button */
#sliderWrap .directionNav {
  position: relative;
  width: 100%;
  height: 100%;
}
#sliderWrap .directionNav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  font-size: 0;
  background: none;
  cursor: pointer;
}
#sliderWrap .directionNav button::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(45deg);
  opacity: 0.6;
}
#sliderWrap .directionNav button#prev {
  left: 20px;
}
#sliderWrap .directionNav button#prev::after {
  transform: rotate(-135deg);
}
#sliderWrap .directionNav button#next {
  right: 20px;
}

/* pagination */
.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dot li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50px;
  background: #000;
  opacity: 0.3;
  text-indent: -9999px;
  cursor: pointer;
}
.dot li.on {
  opacity: 1;
}
