@import url(./reset.css);
@import url(./font.css);

/* common css 공통적css다 모두에게적용 */
body {
  font-family: "Travel";
}

main {
  width: 100%;
  height: 100%;
}
/* 화면이 줄면 안에 내용들도 줄어지게하려고 */
/* height: 100%; 눈에 보여지는 정도만 끝나면 
100% 말고 100vh */

/* header */
header {
  width: 100%;
  height: 74px;
  background: #fff;
}
/* width: 100%;부모요소에서 주는거 100%쓰겠다 */
header > div {
  /* 자손은 후손이라는 범위 안에 들어가있어서 
  header > div 아니라 header div 로 써도된다 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 74px;
  margin: 0 auto;
}
/* display: flex; 하나의 행으로 하나의 열로 정리하겠다 */
/* display: coloumn 하나의 가로로 나열하겠다 */
/* display: row; (기본값) 하나의 열로 나열하겠다 */
/* justify-content: space-between;  */

nav > div {
  display: flex;
  align-items: center;
  gap: 44px;
}
/* align-items: center; 수직정렬? */
#icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  padding: 8px;
  width: 76px;
}

/* figure */
figure {
  width: 100%;
  height: 529px;
  background: url(./img/1.main/main_04.jpg) center/cover no-repeat;
  /* border: 1px solid #f00; */
}
figure #slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  width: 1240px;
  height: 529px;
  padding-top: 200px;
  margin: 0 auto;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 2;
}
/* width: 1240px; head 너비와 동일하게 */
/* align-items: flex-start; (align-items 교차축정렬)
하단에 바가 가로로 가되 왼쪽부터 순서대로 나열되라 */
/* 글자 간격사이 띄울때 - line-height
line-height: 1.3; 130%로 키우겠다 */
/* letter-spacing: 2; 자간 */

#schedule {
  width: 1240px;
  height: 145px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  border-radius: 20px;
}
/* flex-direction: column;위에서부터 아래로 */
#schedule-title {
  color: #000; /* 색상을 나중에 바꿀거다 */
  width: 1200px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}
#schedule-title span {
  word-spacing: -4px;
}
/* #schedule-title 안에 span 태그 둘 */
#schedule-title span:first-child {
  color: #1273e4;
  font-weight: 600;
  margin-right: 50px;
  position: relative;
}
/* margin-right: ;국내숙소 해외숙소 간격 띄우려고 */
#schedule-title span:first-child::after {
  content: "";
  width: 140%;
  height: 4px;
  background: #1273e4;
  position: absolute;
  bottom: -15px;
  left: -14px;
}
/* 전후문자 선택자 ::after
전후문자 선택자할때 반드시 넣어야하는거 content */
/* width: 140%; 부모가 갖은 너비보다 40%넓게 */
#schedule-title span:last-child {
  color: #707070;
  position: relative;
}
#schedule-title span:last-child::after {
  content: "";
  width: 1180px;
  height: 2px;
  background: #f5f5f5;
  position: absolute;
  bottom: -17px;
  left: -144px;
}
/* 전후문자 선택자 무지하게 만날거다 */
/* 전후문자 선택자라는 position을 줘서 너비를 정해줘야
값이 들어간다
부모한테는 position: relative; 넣어줘야함 */
#schedule-bar {
  position: relative;
}
#schedule-bar form {
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#schedule-bar .schedule-item {
  height: 45px;
  background: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: Travel;
  padding-left: 45px;
}
/* form태그는 고집있어서 font-family: Travel; 따로 잡아줘야한다 */
#schedule-bar .search {
  width: 450px;
}
.fa-magnifying-glass {
  color: #c2c2c2;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 16px;
}
/* transform: translateY(-50%); 이 아이콘의 절반만큼 위로 올리겠다 */
#schedule-bar .search::placeholder {
  color: #c2c2c2;
}
#schedule-bar input[type="date"] {
  margin: 0 10px;
  width: 296px;
  position: relative;
}
#schedule-bar input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
  padding-left: 20px;
}
/* 전후문자 선택자는 contet가 필수 */
#schedule-bar input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -50px;
  scale: 0.5;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#schedule-bar .person {
  width: 300px;
  margin-right: 10px;
  cursor: pointer;
}
#schedule-bar input[type="submit"] {
  width: 120px;
  height: 45px;
  background: #1274e4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* section-common */
#contents {
  width: 1240px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}
.inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inner-content-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0 20px;
  letter-spacing: 1px;
}
.inner-content-title h3 {
  color: #333;
}
.inner-content-title h5 {
  color: #1273e4;
}
.inner-content-slide {
  display: flex;
  justify-content: space-between;
}
.inner-content-slide .slide-title {
  margin-top: 15px;
  font-size: 15px;
}

/* section-01evnet */
.event img {
  width: 380px;
  border-radius: 10px;
}
.evnet #list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 20px 0 0;
  border: 1px solid #f00;
}
.event #list span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ccc;
}
.event #list span:first-child {
  background: #1273e4;
}
/* section-02local */
.local .inner-content-slide img {
  width: 185px;
  border-radius: 10px;
}
/* section-03outside */
.outside .inner-content-slide img {
  width: 185px;
  border-radius: 10px;
}
/* section-04hot */
.hot .inner-content-title {
  margin-bottom: 14px;
}
.inner-content #inner-content-titlegroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#inner-content-titlegroup #badge {
  display: flex;
  gap: 10px;
}
#inner-content-titlegroup #badge span {
  width: auto;
  height: 100%;
  border: 1px solid #efefef;
  border-radius: 20px;
  padding: 10px 20px;
}
#inner-content-titlegroup #badge span:first-child {
  background: #1273e4;
  color: #fff;
}
.hot .inner-content-slide img {
  width: 281px;
  height: 173px;
  border-radius: 10px;
}
.inner-content-slide .slide-content-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 17px;
}
.inner-content-slide .slide-content-info .slide-content-info-top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-top
  div:first-child {
  font-size: 14px;
  color: #808080;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-top
  div:nth-child(2) {
  color: #333;
  font-weight: 600;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-top
  div:nth-child(3) {
  color: #808080;
  font-size: 14px;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-top
  div:last-child
  span:first-child {
  background: #ffad0a;
  font-size: 13px;
  margin-right: 7px;
  padding: 4px;
  border-radius: 8px;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-top
  div:last-child
  span:last-child {
  font-size: 15px;
  color: #808080;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-bottom
  div:first-child {
  color: #808080;
  font-size: 14px;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-bottom
  div:last-child
  span:first-child {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.inner-content-slide
  .slide-content-info
  .slide-content-info-bottom
  div:last-child
  span:last-child {
  color: #808080;
  font-size: 14px;
  text-decoration: line-through;
}
/* section-05special */
.special .inner-content-slide img {
  width: 281px;
  height: 173px;
  border-radius: 10px;
}
/* section-06pension */
/* section-07blackdeal */
/* section-08banner */
