<<<<<<< HEAD
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}
/* absolut 절대적인 */

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* CSS3 Animation : 2D그래픽이 아니라 3D그래픽이다
     2D와 3D의 차이는 공간감의 차이다
     2D -x,y축  3D-x,y,z축  
     모니터가까워지면 가까워질수록 z축이 커진다 멀면 z축 작아진다
       => z-index */

/* --------------------------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* 부모요소인 body>div로 부터 이동된다 */

/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow: scroll;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}

/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow-y: scroll;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
=======
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}
/* absolut 절대적인 */

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* CSS3 Animation : 2D그래픽이 아니라 3D그래픽이다
     2D와 3D의 차이는 공간감의 차이다
     2D -x,y축  3D-x,y,z축  
     모니터가까워지면 가까워질수록 z축이 커진다 멀면 z축 작아진다
       => z-index */

/* --------------------------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* 부모요소인 body>div로 부터 이동된다 */

/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow: scroll;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}

/* ----------------------------------------------  */

body > div {
  width: 400px;
  height: 100px;
  border: 3px solid black;
  position: relative;
  overflow-y: scroll;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  background: #f00;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.green {
  background: #0f0;
  left: 50px;
  top: 50px;
  z-index: 5;
}
.blue {
  background: #00f;
  left: 90px;
  top: 90px;
  z-index: 1;
}
>>>>>>> eb43e3d60485f3b9321d812367a40d32bacad8c0
