@import "reset";
@import "mixin";

body {
  flex: 1;
  width: 100%;
  height: auto;
  // border: 1px solid #00f;
  form {
    // border: 1px solid #f00;
    width: 100%;
    height: 100%;
    height: auto;
    article {
      .input_id {
        @include div_input;
        display: flex;
        flex-direction: row;
        .idIcons {
          @include icons;
          .idIcon{
            @include icon_idpw;
          }
          .idIcon_noClick{
            display: inline;
          }
          .idIcon_click{
            display: none;
          }
        }
        input {
          @include input_idpw;
          &::placeholder {
            color: #929294;
          }
          &:focus {
            outline: none;
          }
        }
        .xGray_button {
          @include xGray_button;
          display: none;
          .xGray {
            @include xGray;
          }
        }
      }
      .input_pw {
        @include div_input;
        border-radius: 0 0 6px 6px;
        .pwIcons {
          @include icons;
          .pwIcon {
            @include icon_idpw;
          }
          .pwIcon_noClick {
            display: inline;
          }
          .pwIcon_click {
            display: none;
          }
        }
        input {
          @include input_idpw;
          &::placeholder {
            color: #929294;
          }
          &:focus {
            outline: none;
          }
        }
        .xGray_button {
          @include xGray_button;
          display: none;
          .xGray {
            @include xGray;
          }
        }
      }
      .input_click {
        border: 1px solid #03c75a;
      }
    }
    .login_setting {}
    input {}
  }
}
