@mixin JccAic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin navigation_tab_icon {
  width: 16px;
  height: 16px;
}

@mixin navigation_item {
  @include JccAic;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  background-color: #f8f9fa;
  height: 55px;
  font: 500 16px/20px;
  letter-spacing: -0.5px;
  color: #777;
  z-index: 2;

  cursor: pointer;
}

@mixin click_nav {
  // position: absolute;
  @include JccAic;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-bottom: none;
  border-color: #c6c6c6;
  background-color: #fff;
  height: 55px;
  font: 500 16px/20px;
  letter-spacing: -0.5px;
  border-radius: 6px 6px 0 0;
  color: #333;
  z-index: 5;
}
