:root {
  --maincolor: #03c75a;
  --fontcolor2: #222;
  --fontcolor3: #333;
  --fontcolor3: #777;
}
@mixin JccAic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin JccAic_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin navigation_tab_icon {
  width: 16px;
  height: 16px;
}

@mixin navigation_item {
  @include JccAic;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  background-color: #f8f9fa;
  height: 55px;
  font: 500 16px/20px;
  letter-spacing: -0.5px;
  color: #777;
  z-index: 2;
  height: 65px;
  padding-bottom: 10px;
  position: relative;
  top: 0px;

  cursor: pointer;
}

@mixin click_nav {
  // position: absolute;
  @include JccAic;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  // border-top: none;
  border-bottom: none;
  border-color: #c6c6c6;
  border-top: 5px solid var(--maincolor);
  border-color: var(--maincolor);
  background-color: #fff;
  height: 65px;
  font: 600 16px/20px;
  letter-spacing: -0.5px;
  border-radius: 6px 6px 0 0;
  color: #333;
  z-index: 4;
}

@mixin f-info {
  @include JccAic_row;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #222;
}
@mixin f-info-li {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: #888;
}
@mixin f-info-li234 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: #888;
  padding-left: 13px;
}
@mixin info-li-a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: #888;
}
@mixin info-li-before {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 0.5px;
  height: 11px;
  background-color: #dadada;
}
@mixin f-info-c-li {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-family: "Helvetica Neue", sans-serif;
  color: #888;
}

// -----< ID 로그인 >-----
@mixin div_input {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  box-shadow: none;
  padding: 14px 17px 13px;
  border: 1px solid #dadada;
  border-radius: 6px 6px 0 0;
}
@mixin icon_idpw {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -8px;
  background-position: -174px -255px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
@mixin icons {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
  text-align: left;
}
@mixin input_idpw {
  display: table-cell;
  padding-right: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #222;
  box-sizing: border-box;
  z-index: 4;
  border-radius: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
}

@mixin xGray_button {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 35px;
  height: 35px;
  z-index: 5;
}
@mixin xGray {
  display: inline-block;
  position: -179px -182px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 8px 0 0 8px;
}

@mixin ip_button {
  display: block;
  position: relative;
  top: -1px;
  width: 33px;
  height: 18px;
  border-radius: 12px;
  background-color: #c3c8c9;
  margin-left: 4px;
  transition: all 0.2s ease;
}

@mixin ip_button_circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
  box-sizing: border-box;
}
