* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --maincolor: #03c75a;
  --fontcolor2: #222;
  --fontcolor3: #333;
}

body {
  width: 100vw;
  height: 100%;
  color: var(--fontcolor2);
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .wrapper header {
  position: relative;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  width: 743px;
  width: 46.4375rem;
  margin: 0 auto;
  text-align: center;
}
body .wrapper header a {
  display: inline-block;
  margin-top: 108px;
  width: 155px;
  height: 30px;
}
body .wrapper header a img {
  width: 100%;
  height: 100%;
}
body .wrapper header select {
  border: 1px solid #ccc;
  position: absolute;
  top: 20px;
  right: 0;
  min-width: 95px;
  height: 30px;
  padding: 4px 10px 6px 8px;
  font: 400 12px/18px "";
  color: var(--fontcolor3);
  cursor: pointer;
  z-index: 1;
  outline: none;
}
body .wrapper header select option {
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
body .wrapper .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  width: 460px;
}
body .wrapper .container aside {
  position: absolute;
  top: -17px;
  right: -23px;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 3px 0 4px 9px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #03c75a;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 10;
}
body .wrapper .container aside span {
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.56px;
  white-space: nowrap;
  color: #03c75a;
  vertical-align: top;
  color: var(--maincolor);
  font-family: -apple-system, "system-ui", helvetica, "Apple SD Gothic Neo", sans-serif;
}
body .wrapper .container aside img {
  width: 3%;
  margin-left: 5px;
  cursor: pointer;
}
body .wrapper .container .kind_of_login .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #e3e3e3;
  border-radius: 6px 6px 0 0;
}
body .wrapper .container .kind_of_login .navigation .navigation_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  background-color: #f8f9fa;
  height: 55px;
  font: 500 16px/20px;
  letter-spacing: -0.5px;
  color: #777;
  z-index: 2;
  cursor: pointer;
}
body .wrapper .container .kind_of_login .navigation .navigation_item span {
  margin-left: 10px;
}
body .wrapper .container .kind_of_login .navigation #idLogin {
  border-radius: 6px 0 0 0;
  flex: 1;
}
body .wrapper .container .kind_of_login .navigation #idLogin .idLogin_icon {
  width: 16px;
  height: 16px;
}
body .wrapper .container .kind_of_login .navigation #disposableLogin {
  border-radius: 0;
  flex: 1;
}
body .wrapper .container .kind_of_login .navigation #disposableLogin .disLogin_icon {
  width: 16px;
  height: 16px;
}
body .wrapper .container .kind_of_login .navigation #qrLogin {
  border-radius: 0 6px 0 0;
  flex: 1;
}
body .wrapper .container .kind_of_login .navigation #qrLogin .qrLogin_icon {
  width: 16px;
  height: 16px;
}
body .wrapper .container .kind_of_login .navigation .click_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-bottom: none;
  border-color: #c6c6c6;
  background-color: #fff;
  height: 55px;
  font: 500 16px/20px;
  letter-spacing: -0.5px;
  border-radius: 6px 6px 0 0;
  color: #333;
  z-index: 5;
}/*# sourceMappingURL=style.css.map */