<<<<<<< HEAD
.button {
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9; /* box-shadow x축 y축  색상 */
  text-align: center;
}

.button {
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9;
  text-align: center;
}

a {
  color: #fff;
  line-height: 70px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
/* 라인하이트 -텍스타 자체의 높이 */
/* 텍스트 자체의 높이가 있다 그 높이를 버튼크기 만클 단문이
  아닌경우에
  사용하면
  안된다 */
a {
  display: block;
  color: #fff;
  line-height: 70px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  /* 라인하이라이트는 수직정렬아니다
      하나만 있을경우면 수직정렬같이 보이겠지만
      여러개이면 수직정렬이 안된다. */
}

a {
  display: block;
  color: #fff;
  line-height: 35px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  /* 값을 맞춰주면 된다. */
}
/* ------------------------------------------------------- */

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9;
  text-align: center;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
=======
.button {
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9; /* box-shadow x축 y축  색상 */
  text-align: center;
}

.button {
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9;
  text-align: center;
}

a {
  color: #fff;
  line-height: 70px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
/* 라인하이트 -텍스타 자체의 높이 */
/* 텍스트 자체의 높이가 있다 그 높이를 버튼크기 만클 단문이
  아닌경우에
  사용하면
  안된다 */
a {
  display: block;
  color: #fff;
  line-height: 70px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  /* 라인하이라이트는 수직정렬아니다
      하나만 있을경우면 수직정렬같이 보이겠지만
      여러개이면 수직정렬이 안된다. */
}

a {
  display: block;
  color: #fff;
  line-height: 35px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  /* 값을 맞춰주면 된다. */
}
/* ------------------------------------------------------- */

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 70px;
  background: #ff6a6a;
  border: 10px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #a9a9a9;
  text-align: center;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
>>>>>>> eb43e3d60485f3b9321d812367a40d32bacad8c0
