/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* custom */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #2e394d;
  gap: 3%;
  padding: 0 3%;
  .toggle-wrapper {
    position: relative;
    display: flex;
    flex: 1 1 calc(94% / 4);
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    overflow: hidden;
    .toggle {
      position: relative;
      display: inline-block;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
      }
      label.toggle-item {
        position: relative;
        display: inline-block;
        width: 7em;
        height: 3em;
        background: #2e394d;
        border-radius: 50px;
        margin: 40px;
        transition: all 0.3s ease;
        transform-origin: 20% center;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0.25em;
          left: 0.25em;
          width: 2.3em;
          height: 2.3em;
          border: 2px solid #88cf8f;
          border-radius: 2em;
          /* transition: all 0.2s ease; */
          transition: all 0.3s ease;
        }
      }
    }
    .name {
      width: 80%;
      position: absolute;
      font: bold 14px 'Rubik', sans-serif;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
      bottom: 15px;
      right: 15px;
      text-align: right;
    }
  }
  .toggle-wrapper:nth-child(1) {
    background: #dec387;
  }
  .toggle-wrapper:nth-child(2) {
    background: #de8797;
  }
  .toggle-wrapper:nth-child(3) {
    background: #87aade;
    background: #EA8B8B;
  }
  .toggle-wrapper:nth-child(4) {
    background: #c5de87;
    background: #D78BEA;
  }
  .toggle-wrapper:nth-child(5) {
    background: #87ded2;
    background: #8D8BEA;
  }
  .toggle-wrapper:nth-child(6) {
    background: #c487de;
    background: #8BB7EA;
  }
  .toggle-wrapper:nth-child(7) {
    background: #de8787;
    background: #88cf8f;
  }
  .toggle-wrapper:nth-child(7) .toggle {
    transform: translate(-40px, 40px);
  }
  .toggle-wrapper:nth-child(8) {
    background: #decf87;
    background: #8BEAD3;
  }
  .toggle-wrapper:nth-child(8) .toggle {
    transform: translate(-40px, 40px);
  }
}
@media (max-width: 1500px) {
  .toggle-wrapper {
    flex: 1 1 calc(100% / 3);
  }
}
@media (max-width: 600px) {
  .toggle-wrapper {
    flex: 1 1 calc(100% / 2);
  }
}
@media (max-width: 300px) {
  .toggle-wrapper {
    flex: 1 1 100%;
  }
}

#container1 {
  background: #EACD8B;
  .normal {
    label{
      background: #af4c4c;
      border: 0.5px solid rgba(117, 117, 117, 0.31);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 0 -3px 4px rgba(0, 0, 0, 0.15);
      &::before {
        content: '';
        position: absolute;
        border: none;
        width: 2.4em;
        height: 2.4em;
        box-shadow: inset 1.5px -1.5px 2px rgba(0, 0, 0, 0.35);
        background: #fff;
        transform: rotate(-90deg);
      }
      &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        z-index: 0;
        background: transparent;
        border-radius: 30px;
        box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
      }
    }
    #normal:checked + label {
      background: #4caf50;
    }
    #normal:checked + label:before {
      left: 69px;
    }
  }
}

#container2 {
  background: #EAA88B;
  .transparent {
    label {
      background: transparent;
      border: 3px solid #fff;
      height: 3.35em;
      &:before {
        border: none;
        background: #fff;
        top: 0.35em;
        left: 0.3em;
      }
    }
    #transparent:checked + label::before {
      left: 4.1em;
    }
  }
}

#container3 {
  background: #EA8B8B;
  .dog-rollover {
    #bokku {}
    label {
      .dog {
        display: inline-block;
        position: absolute;
        top: 0.25em;
        left: 0.2em;
        width: 2.5em;
        height: 2.5em;
        transition: 0.6s ease;
        .ear {
          position: absolute;
          left: -4px;
          width: 18px;
          height: 20px;
        }
        .right {}
        .face {
          .eyes {}
          .mouth {}
        }
      }
    }
  }
}