@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */

 .hdd { display:none !important; opacity:0;}

a.store-button-small,
input.store-button-small,
button.store-button-small { position: relative; display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 8px 20px; width: auto; font-size: 13px; font-weight: normal; letter-spacing: normal; color: #333 !important; background: #eaeaea !important; border: none; border-radius: 2px; text-decoration: none !important; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; transition-duration: 0.3s; box-sizing: content-box; }
a.store-button-small:hover,
a.store-button-small:focus,
a.store-button-small:active,
input.store-button-small:hover,
input.store-button-small:focus,
input.store-button-small:active,
button.store-button-small:hover,
button.store-button-small:focus,
button.store-button-small:active { opacity: 0.7; }

.store-poweredby { float: left; padding-bottom: 15px; width: 100%; font-size: 14px; }
.store-new-notify { display: inline-block; *display: inline; zoom: 1; padding: 2px 2px; line-height: 10px; font-size: 10px; color: white; background-color: #f61b5d; font-weight: normal; }
.store-cut-strings { width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; }

#store-list { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#store-list form { margin: 0; padding: 0; }
#store-list .store-list-header { margin-bottom: 24px; width: 100%; }
#store-list .store-list-header .store-total-count { font-size: 16px; font-weight: 400; color: #111; }
#store-list .store-list-header .store-sort { *float: right; display: table-cell; text-align: right; }
#store-list .store-list-header .store-sort select { display: inline; margin: 0; padding: 0; width: auto; min-width: 0; max-width: none; height: 26px; min-height: 0; line-height: 26px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: content-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#store-list .kboard-category { padding-bottom: 15px; width: 100%; }
#store-list .kboard-category.category-mobile { display: none; }
#store-list .kboard-category.category-pc { display: block; }
#store-list .kboard-category select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; min-width: 100%; height: 28px; min-height: 0; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#store-list .kboard-category .kboard-category-list { margin: 0 0 5px 0; padding: 0; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; }
#store-list .kboard-category .kboard-category-list li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; }
#store-list .kboard-category .kboard-category-list li::before,
#store-list .kboard-category .kboard-category-list li::after { display: none; }
#store-list .kboard-category .kboard-category-list li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; }
#store-list .kboard-category .kboard-category-list li.kboard-category-selected a { font-weight: bold; border-bottom: 2px solid #545861; color: #545861; }
#store-list .store-tree-category-wrap { float: left; padding-bottom: 15px; width: 100%; }
#store-list .store-tree-category-wrap select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; height: 28px; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#store-list .store-tree-category-search .store-search-option-wrap.type-select { width: auto; }
#store-list .store-tree-category-search .store-search-option-wrap.type-tab { width: 100%; }
#store-list .store-tree-category { float: left; margin: 0 0 5px 0; padding: 0; width: 100%; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; }
#store-list .store-tree-category li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; }
#store-list .store-tree-category li::before,
#store-list .store-tree-category li::after { display: none; }
#store-list .store-tree-category li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; }
#store-list .store-tree-category li.kboard-category-selected a { font-weight: 500; border-bottom: 2px solid #545861; }

#store-list .store-olive { position:relative; width:100%; height:50px; display:flex; justify-content:center; align-items:center; margin-bottom:35px;}
#store-list .store-olive .store-olive-btn { height:100%; padding:10px 76px 10px 66px; display:flex; justify-content:center; align-items:center; box-sizing:border-box; border: 1px solid #A6A6A6; border-radius: 10px; font-size:18px; font-weight:400; color:#111;}
#store-list .store-olive .store-olive-btn img { margin-right:5px; }
#store-list .store-olive .store-olive-detail { display:flex; align-items:center; margin-left:8px; font-size:16px; font-weight:400; color:#333; }
#store-list .store-olive .store-olive-detail-mo { display:none;}
#store-list .store-olive .slide-olive-detail-mo { display:none;}
.q-mark-pop-btn { display:inline-block; margin-left:7px; width:20px; height:20px; background-color:#171C8F; border-radius:50%; text-align:center; font-size:15px; font-weight:300; color:#F5E2E2; line-height:20px;}

#store-list .store-list-top {display:block; position:relative;}
#store-list .store-total-count { display:inline-block;}
#store-list .store-color-service { display:inline-block; position:absolute; right:0;}
#store-list .store-color-service .store-color-service-detail { display:flex; align-items:center; margin-left:8px; font-size:16px; font-weight:400; color:#333; }

/* storetype 버튼 */
#store-list section.store-search-area { position:relative;}
#store-list .store-list-type { width:100%; margin: 0 0 24px 0; padding: 0; list-style: none; border: 0; overflow: hidden; }
#store-list .store-list-type li { position:relative; display: block; float:left; width:calc((100% - 28px) / 5); margin: 0 7px 0 0; padding: 0; border: 0; list-style: none; background:#F7F7F7; box-sizing:border-box; border-radius:4px; transition-duration:0.3s;}
#store-list .store-list-type::after { content:''; display:block; clear:both;}
#store-list .store-list-type li:last-of-type { margin-right:0;}
#store-list .store-list-type li a { display: flex; justify-content:center; align-items:center; width:100%; height:150px; font-size: 18px; font-weight:400; color:#111; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; }
#store-list .store-list-type li a .category-wrap .category-icon { min-width:63px; height:65px; margin-bottom:8px; background-repeat:no-repeat; background-position:center;}
#store-list .store-list-type li:nth-of-type(1) a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='56' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.47 14.68c.522-2.082-.837-4.17-3.033-4.664-2.198-.494-4.401.793-4.923 2.874-.521 2.082.837 4.17 3.034 4.664 2.197.494 4.401-.793 4.922-2.875Z' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M53.658 17.066a17.56 17.56 0 0 1-1.75 3.012l-6.172 7.906-.019.026a.259.259 0 0 1-.096.089.276.276 0 0 1-.356-.089l-.02-.026-6.173-7.906a17.525 17.525 0 0 1-1.748-3.012 8.139 8.139 0 0 1-.746-3.284c0-2.24.939-4.386 2.61-5.97 1.671-1.583 3.937-2.472 6.3-2.472 2.364 0 4.63.89 6.301 2.472 1.671 1.584 2.61 3.73 2.61 5.97a8.158 8.158 0 0 1-.741 3.284v0Z' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m36.283 6.512-2.05-5.178-5.852 4.53-6.58-.129-7.516 7.25 1.913 6.73h-4.645l-3.006 4.402 4.972 1.165v9.19l-2.513 7.637-.137 4.918-2.322 2.718 4.972 4.143 14.86-10.096 1.2 3.105 9.708.13 4.929-5.049 1.636-4.789 4.3-3.999-4.3-1.308-2.466-2.977M6.873 53.887l3.26 4.45-1.63 2.997H3.327l-1.725-3.269 1.725-2.632 3.546-1.546Z' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
#store-list .store-list-type li:nth-of-type(2) a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='29' height='65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M1.984 1.605h25.038v22.762H1.984zM1.984 24.367h25.038v38.695H1.984z'/%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' d='M1.984 28.92h25.038v-4.552H1.984z'/%3E%3C/svg%3E");}
#store-list .store-list-type li:nth-of-type(3) a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='44' height='59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.216 55.094a2.247 2.247 0 0 1-2.24 2.24H3.536a2.247 2.247 0 0 1-2.24-2.24V7.716a2.247 2.247 0 0 1 2.24-2.24h26.44a2.247 2.247 0 0 1 2.24 2.24v47.378Z' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29.307 46.291c5.787 0 10.479-4.691 10.479-10.478 0-5.788-4.692-10.479-10.48-10.479-5.786 0-10.478 4.692-10.478 10.479 0 5.787 4.692 10.478 10.479 10.478Z' fill='%23FAFAFA' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m37.367 43.062 5.334 6.007' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.69 9.622a4.144 4.144 0 1 0 0-8.288 4.144 4.144 0 0 0 0 8.288Z' fill='%23FAFAFA' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
#store-list .store-list-type li:nth-of-type(3).selected a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='44' height='59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.216 55.094a2.247 2.247 0 0 1-2.24 2.24H3.536a2.247 2.247 0 0 1-2.24-2.24V7.716a2.247 2.247 0 0 1 2.24-2.24h26.44a2.247 2.247 0 0 1 2.24 2.24v47.378Z' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29.307 46.291c5.787 0 10.479-4.691 10.479-10.478 0-5.788-4.692-10.479-10.48-10.479-5.786 0-10.478 4.692-10.478 10.479 0 5.787 4.692 10.478 10.479 10.478Z' fill='%23F2C6CF' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m37.367 43.062 5.334 6.007' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.69 9.622a4.144 4.144 0 1 0 0-8.288 4.144 4.144 0 0 0 0 8.288Z' fill='%23F2C6CF' stroke='%23333' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
#store-list .store-list-type li:nth-of-type(4) a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='47' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.601 1.334 1.836 5.239l7.146 18.485v37.61h36.187v-37.61l-9.22-22.39H4.601Z' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m8.89 7.334 7.021 16h24.22l-7.107-16H8.89ZM29.047 29.334H41.14' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
#store-list .store-list-type li:nth-of-type(5) a .category-wrap .category-icon { background-image:url("data:image/svg+xml,%3Csvg width='66' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.546 7.296a25.416 25.416 0 0 1-6.209 8.732 692.29 692.29 0 0 1-6.54 6.215 1.78 1.78 0 0 0-.446.85c-.067.317-.044.645.067.95.059.277.152.654.284 1.158.234.894.59 2.19 1.067 3.852.787 2.785 1.93 6.644 3.367 11.473A3459.433 3459.433 0 0 0 60.13 57.12a5.432 5.432 0 0 1-.01 4.215l-19.423-25.99c-.224-.3-.51-.552-.841-.74a2.861 2.861 0 0 0-2.216-.246c-.367.11-.706.292-.995.535-5.439 4.565-17.752 13.913-17.876 14.013a1.495 1.495 0 0 0-.481.62c-.078.188-.116.39-.111.592l.226 8.887-5.501-7.923a1.53 1.53 0 0 0-.43-.413l-8.24-5.291 9.243.216c.241.005.48-.043.7-.142.218-.098.41-.244.56-.426.096-.12 9.814-11.96 14.561-17.191.253-.278.442-.604.557-.957a2.553 2.553 0 0 0-.255-2.13 2.691 2.691 0 0 0-.768-.81L1.797 5.25a6.075 6.075 0 0 1 4.395 0c.087.023 8.701 2.447 17.241 4.799 5.022 1.384 9.035 2.473 11.931 3.238 1.727.456 3.074.803 4.005 1.028.522.127.916.216 1.203.273.318.107.66.13.989.066a1.89 1.89 0 0 0 .884-.432 687.437 687.437 0 0 1 6.463-6.29 26.475 26.475 0 0 1 9.08-5.97c2.486-.872 4.47-.836 5.446.101.974.937 1.02 2.84.112 5.232Z' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
#store-list .store-list-type li.selected { background:#F2C6CF;}
#store-list .store-list-type li a .category-wrap .category-filter { font-size:0;}

#store-list .store-tree-category-search { float: left; width: 100%; }
#store-list .store-tree-category-search .store-search-option-wrap { margin-right: 5px; float: left; }
#store-list .store-list { clear: both; width: 100%; background-color: white; margin-bottom:60px; }
#store-list .store-list ul { display: flex; flex-direction: row; flex-wrap: wrap;  list-style: none; margin: 0; padding: 0; }
#store-list .store-list ul li { margin: 0; margin-bottom:24px; padding: 0 16px; width: 50%; }
#store-list .store-list ul li .store-contents { display: block; padding: 20px 0 16px 2px; width: 100%; border-top: 1px solid #ddd; }
#store-list .store-list .store-contents { position: relative; }
#store-list .store-list .store-contents > div { margin-bottom: 12px; font-size: 16px; font-weight: 400; line-height: 26px; color: #333; }
#store-list .store-list .store-contents > div:last-of-type { margin-bottom: 0; }
#store-list .store-list .store-contents .store-list-title { padding-right:22px; padding-bottom:7px; font-size: 18px; font-weight: 500; color: #111; }
#store-list .store-list .store-contents .store-list-address { margin-bottom: 12px;}
#store-list .store-list .store-contents .icon-colorfinder { position:absolute; display: block; top: 19px;  right: 0; width: 16px; height: 25px; font-size: 0; line-height: 0; background: url('/wp-content/uploads/2022/05/color-finder.svg') no-repeat; background-size: cover;}
#store-list .store-list table { display: table; table-layout: fixed; margin: 0; padding: 0; width: 100%; border: 0; font-size: 14px; border-collapse: collapse; }
#store-list .store-list table a { color: black; text-decoration: none; border: 0; box-shadow: none; font-size: 16px; }
#store-list .store-list table tr { border: 0; background-color: transparent; transition-duration: 0.3s; }
#store-list .store-list table td { height: auto; text-align: center; vertical-align: middle; font-size: 16px; color: #111; }
#store-list .store-list table td.store-list-uid { width: 65px; }
#store-list .store-list table td.store-list-title { width: auto; padding-left: 100px; }
#store-list .store-list table td.store-list-user { width: 100px; }
#store-list .store-list table td.store-list-date { width: 20%; }
#store-list .store-list table td.store-list-vote { width: 55px; }
#store-list .store-list table td.store-list-view { width: 55px; }
#store-list .store-list thead { background-color: transparent; }
#store-list .store-list thead tr td { padding: 14px 0; font-weight: 500; color: #111; border: 0; border-top: 1px solid #c1c1c1; border-bottom: 1px solid #c1c1c1; background: #f7f7f7; }
#store-list .store-list tbody tr td { padding: 20px 0; font-weight: 400; word-break: break-all; border: 0; border-bottom: 1px solid #d9d9d9; }
#store-list .store-list tbody tr:hover { opacity: 0.7; }
#store-list .store-list tbody tr.store-list-notice { background-color: #f4f4f4; }
#store-list .store-list tbody tr.store-list-selected .store--cut-strings { font-weight: 500; }
#store-list .store-list tbody td.store-list-title { text-align: left; width: 80%; }
#store-list .store-list tbody td.store-list-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; }
#store-list .store-list tbody td.store-list-title .store-comments-count { color: #00a8e7; }
#store-list .store-list tbody td.store-list-user img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#store-list .store-list .store-mobile-contents { display: none; font-size: 13px; color: #999999; }
#store-list .store-list .store-mobile-contents .contents-item { display: inline; margin: 0; padding: 0; }
#store-list .store-list .store-mobile-contents .contents-item img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#store-list .store-list .store-mobile-contents .contents-separator { display: inline; margin: 0; padding: 0 2px; color: #bebebe; }
#store-list .store-pagination { float: left; padding: 0; width: 100%;}
#store-list .store-pagination .store-pagination-pages { float: left; margin: 0; padding: 0; width: 100%; list-style: none; text-align: center; border: 0; }
#store-list .store-pagination .store-pagination-pages li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; vertical-align:middle; }
#store-list .store-pagination .store-pagination-pages li a { position:relative; display: block; margin: 0; padding: 0 10px; width:40px; height: 40px; line-height: 36px; font-size: 19px; color: #A6A6A6; text-decoration: none; border: 0; box-shadow: none; transition-duration: 0.3s; }
#store-list .store-pagination .store-pagination-pages li:hover a,
#store-list .store-pagination .store-pagination-pages li.active a { border: 0; color: #111111;}
#store-list .store-pagination .store-pagination-pages li:before { display: none; }
#store-list .store-pagination .store-pagination-pages li:after { display: none; }
#store-list .store-pagination .store-pagination-pages li.first-page a { background:url('/wp-content/plugins/kboard/helper/icon-firstpage.png') no-repeat center;}
#store-list .store-pagination .store-pagination-pages li.prev-page a { background:url('/wp-content/plugins/kboard/helper/icon-prevpage.png') no-repeat center;}
#store-list .store-pagination .store-pagination-pages li.last-page a { background:url('/wp-content/plugins/kboard/helper/icon-lastpage.png') no-repeat center;}
#store-list .store-pagination .store-pagination-pages li.next-page a { background:url('/wp-content/plugins/kboard/helper/icon-nextpage.png') no-repeat center;}
#store-list .store-search { position: relative; display: flex; justify-content: center; align-items: center; margin: 0 auto 24px; padding: 25px 0; background: #F7F7F7; }
#store-list .store-search .store-search-title { display: inline-block; vertical-align: middle; margin: 0 24px 0 0; }
#store-list #store-search-form-7 { position: relative; }
#store-list .store-search select { display: inline; margin: 0; padding: 0 5px; width: 100px; min-width: 0; max-width: 100px; height: 26px; min-height: 0; font-size: 14px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1;
    background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#store-list .store-search input { display: inline; margin: 0; padding: 0 16px; width: 434px; min-width: 0; max-width: 434px; height: 40px; min-height: 0; font-size: 15px; color: #111; border-radius: 0; border: 1px solid #c1c1c1;
    background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; border-radius: 50px; }
#store-list .store-search input::placeholder { color: #a6a6a6; line-height: 21px; }
#store-list .store-search button.store-button-search { position: absolute; right: 8px; width: 40px; height: 40px; font-size: 0; line-height: 0; background: url('/wp-content/uploads/2022/05/ico-search.svg') no-repeat center center;  }
#store-list .store-search button.store-button-search:hover { background-color: none; box-shadow: none; }
#store-list .store-control { float: left; padding-bottom: 15px; width: 100%; text-align: right; }
#store-list .store-search .store-mobile-category-btns { display:none;}

/* 팝업 */
#store-list .pop { position:absolute; left:0; top:0; display:none; width:369px; padding: 45px 16px 16px 16px; background: rgba(255, 255, 255, 0.7); box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1); border-radius: 4px; z-index:9; backdrop-filter: blur(4px);}
#store-list .pop .pop-close { position:absolute; top:18px; right:24px; width:20px; height:20px; cursor:pointer;}
#store-list .pop .pop-close::before { content:''; position:absolute; top:50%; left:0; width:100%; height:2px; margin-top:-1px; background:#333; transform-origin:center; transform:rotate(45deg); }
#store-list .pop .pop-close::after { content:''; position:absolute; top:50%; left:0; width:100%; height:2px; margin-top:-1px; background:#333; transform-origin:center; transform:rotate(-45deg); }
#store-list .pop .pop-content p { font-size:14px; font-weight:400; color:#111;}
#store-list .pop .pop-content strong { font-weight:400; color:#171c8f;}
#store-list .pop.pop-color-detail h4 { display:flex; justify-content:center; align-items:center; width:100%; margin-bottom:5px; font-size:14px; font-weight:400; color:#171C8F;}
#store-list .pop.pop-color-detail h4 img { margin-right:4px;}

#store--editor { overflow: hidden; }
#store--editor form { margin: 0; padding: 0; }
#store--editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 70%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#store--editor input[type=text],
#store--editor input[type=email],
#store--editor input[type=number],
#store--editor input[type=date],
#store--editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 70%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; }
#store--editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
#store--editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }
#store--editor select:hover,
#store--editor input[type=text]:hover,
#store--editor input[type=email]:hover,
#store--editor input[type=number]:hover,
#store--editor input[type=date]:hover,
#store--editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; }
#store--editor select:focus,
#store--editor input[type=text]:focus,
#store--editor input[type=email]:focus,
#store--editor input[type=number]:focus,
#store--editor input[type=date]:focus,
#store--editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; }
#store--editor input[type=file] { display: inline; margin: 0; padding: 0; width: 30%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; }
#store--editor .store-attr-title input { width: 70%; }
#store--editor .store-attr-row { float: left; padding: 5px 0; width: 100%; background-color: white; }
#store--editor .store-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 120px; line-height: 30px; color: #545861; font-size: 14px; font-weight: bold; }
#store--editor .store-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; }
#store--editor .store-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; }
#store--editor .store-attr-row.store-attr-content .attr-name { display: none; }
#store--editor .store-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 30px; font-size: 14px; }
#store--editor .store-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; }
#store--editor .store-attr-row .attr-value .attr-value-option input { cursor: pointer; }
#store--editor .store-attr-row .attr-value .attr-value-label { display: inline; padding-right: 5px; width: auto; cursor: pointer; }
#store--editor .store-attr-row .attr-value .attr-value-label input { cursor: pointer; }
#store--editor .store-attr-row .attr-value .description { margin: 0; color: #666666; }
#store--editor .store-attr-row .attr-value .store-tree-category-wrap { overflow: hidden; }
#store--editor .store-attr-row .attr-value .store-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; }
#store--editor .store-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; }
#store--editor .store-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 250px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; }
#store--editor .store-control { float: left; padding: 15px 0; width: 100%; }
#store--editor .store-control .left { position: static; float: left; }
#store--editor .store-control .right { position: static; float: right; width: 50%; text-align: right; }
#store--editor.confirm { margin: 100px auto; max-width: 590px; }
#store--editor.confirm input[type=password] { width: 100%; box-sizing: border-box; }

#store--document { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#store--document .store-document-wrap { float: left; width: 100%; background-color: white; }
#store--document .store-title { float: left; width: 100%; }
#store--document .store-title h1 { margin: 0; padding: 12px 22px; color: #545861; font-weight: bold; font-size: 22px; line-height: 30px; text-align: left; }
#store--document .store-detail { clear: both; float: left; width: 100%; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; background-color: #f9f9f9; font-size: 14px; }
#store--document .store-detail .detail-attr { display: inline-block; *display: inline; zoom: 1; float: left; margin: 0; padding: 12px 35px 12px 22px; line-height: 24px; }
#store--document .store-detail .detail-attr .detail-name { float: left; font-weight: bold; color: #545861; text-align: right; }
#store--document .store-detail .detail-attr .detail-value { float: left; padding-left: 20px; color: #545861; }
#store--document .store-detail .detail-attr .detail-value a { color: #545861; text-decoration: none; border: 0; box-shadow: none; }
#store--document .store-detail .detail-attr .detail-value img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#store--document .store-content { clear: both; float: left; width: 100%; min-height: 200px; }
#store--document .store-content .content-view { margin: 0; padding: 22px; word-break: break-all; }
#store--document .store-content .content-view iframe { max-width: 100%; }
#store--document .store-content .content-view img { display: inline; margin: 0; vertical-align: middle; max-width: 100%; }
#store--document .store-content .content-view hr { margin: 10px 0; padding: 0; height: 1px; border: 0; background-color: #f1f1f1; }
#store--document .store-content .content-view ul { margin: 0.75em 0; }
#store--document .store-content .content-view ol { margin: 0.75em 0; }
#store--document .store-content .content-view p { margin: 0 0 0.75em; }
#store--document .store-content .content-view p:last-child { margin: 0; }
#store--document .store-content .content-view .thumbnail-area { text-align: center; }
#store--document .store-content .content-view .aligncenter { display: block; margin-right: auto; margin-left: auto; }
#store--document .store-content .content-view .alignright { float:right; }
#store--document .store-content .content-view .alignleft { float: left; }
#store--document .store-document-action { padding: 0 22px 5px 22px; overflow: hidden; line-height: 1; }
#store--document .store-document-action .left { position: static; float: left; }
#store--document .store-document-action .right { position: static; float: right; text-align: right; }
#store--document .store-attach { clear: both; margin: 0 22px; padding: 10px 0 5px 0; font-size: 13px; overflow: hidden; line-height: 1; border-top: 1px dashed #ededed; }
#store--document .store-button-action { margin: 0 0 5px 0; padding: 4px 5px; font-size: 13px; font-weight: normal; line-height: 12px; text-align: left; border: 1px solid #ededed; background: none; background-color: white; border-radius: 2px; letter-spacing: normal; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; }
#store--document .store-button-action span { position: static; display: inline; margin: 0; padding: 0; font-size: 13px; line-height: 12px; }
#store--document .store-button-like { color: #ff5959; }
#store--document .store-button-unlike { color: #3d62aa; }
#store--document .store-button-print { color: gray; }
#store--document .store-button-download { color: gray; }
#store--document .store-comments-area { float: left; width: 100%; }
#store--document .store-document-navi { float: left; padding-top: 15px; width: 100%; }
#store--document .store-document-navi a { display: block; text-decoration: none; border: 0; font-size: 14px; line-height: 20px; box-shadow: none; color: #545861; transition-duration: .3s; }
#store--document .store-document-navi .navi-document-title { display: block; }
#store--document .store-document-navi .navi-arrow { position: absolute; display: block; }
#store--document .store-document-navi .store-prev-document { position: relative; float: left; width: 45%; }
#store--document .store-document-navi .store-prev-document .navi-document-title { padding-left: 15px; }
#store--document .store-document-navi .store-prev-document .navi-arrow { left: 0; top: 0; }
#store--document .store-document-navi .store-prev-document:hover a { color: black; }
#store--document .store-document-navi .store-next-document { position: relative; float: right; width: 45%; text-align: right; }
#store--document .store-document-navi .store-next-document .navi-document-title { padding-right: 15px; }
#store--document .store-document-navi .store-next-document .navi-arrow { right: 0; top: 0; }
#store--document .store-document-navi .store-next-document:hover a { color: black; }
#store--document .store-control { float: left; padding: 15px 0;  width: 100%; }
#store--document .store-control .left { position: static; float: left; }
#store--document .store-control .right { position: static; float: right; text-align: right; }

#store--latest table { display: table; table-layout: fixed; width: 100%; border: 0; border-bottom: 1px solid #f1f1f1; }
#store--latest table tr { padding: 0; border: 0; }
#store--latest table th { padding: 5px 0; height: auto; border: 0; text-align: center; }
#store--latest table td { padding: 5px 0; height: auto; border: 0; border-top: 1px solid #f1f1f1; vertical-align: middle; }
#store--latest table td.store-latest-title { text-align: left; }
#store--latest table .store-latest-title { padding-left: 5px; font-size: 14px; }
#store--latest table .store-latest-title a { text-decoration: none; box-shadow: none; }
#store--latest table .store-latest-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; }
#store--latest table .store-latest-title .store-comments-count { }
#store--latest table .store-latest-date { width: 80px; text-align: center; font-size: 14px; }

@media screen and (max-width: 1024px) {
    #store-list .kboard-category.category-mobile { display: block; }
    #store-list .kboard-category.category-pc { display: none; }
    #store-list .store-tree-category-search .store-search-option-wrap.select { width: 100%; }
    #store-list .store-list table { border-top: 1px solid #f1f1f1; }
    #store-list .store-list table thead { display: none; }
    #store-list .store-list table td.store-list-title { padding: 10px 5px; }
    #store-list .store-list table td.store-list-title .store--cut-strings { margin-bottom: 10px; white-space: normal; font-size: 15px; line-height: 23px; }
    #store-list .store-list table td.store-list-uid,
    #store-list .store-list table td.store-list-user,
    #store-list .store-list table td.store-list-date,
    #store-list .store-list table td.store-list-vote,
    #store-list .store-list table td.store-list-view { display: none; }
    #store-list .store-list .store-mobile-contents { display: block; }
	/*
    #store-list .store-pagination .store-pagination-pages li { display: none; }
    #store-list .store-pagination .store-pagination-pages li.first-page,
    #store-list .store-pagination .store-pagination-pages li.last-page,
    #store-list .store-pagination .store-pagination-pages li.prev-page,
    #store-list .store-pagination .store-pagination-pages li.next-page,
    #store-list .store-pagination .store-pagination-pages li.active { display: inline-block; }
    #store-list .store-pagination .store-pagination-pages li.prev-page a,
    #store-list .store-pagination .store-pagination-pages li.next-page a { padding: 0 18px; }
	*/

	/*모바일 작업 부분*/
	#store-list .store-olive { display:block; height:auto; margin-bottom:0; text-align:center;}
	#store-list .store-olive .store-olive-btn { display:inline-block; width:343px; margin-right:0px !important; padding:8px 16px; font-size:17px;}
	#store-list .store-olive .store-olive-btn img { margin-right:10px; margin-bottom:4px; height:20px;}
	#store-list .store-olive .store-olive-detail { display:none; }
	#store-list .store-olive .store-olive-detail-mo { display:flex; justify-content:center; align-items:center; margin-left:0px; margin-top: 5px; padding-bottom:5px; font-size:11px; font-weight:400; color:#000; }
	/*.q-mark-pop-btn.q-mark-mo { margin-left:5px; width:12px; height:12px; font-size:6px; line-height:12px;}*/
	.q-mark-pop-btn-mo { margin-left:2px;}
	#store-list .store-olive .slide-olive-detail-mo { display:none; margin-bottom:8px; padding:16px; background:#FAFAFA; }
	#store-list .store-olive .slide-olive-detail-mo p { position:relative; margin-bottom:6px; padding-left:10px; font-size: 12px; font-weight:300; color:#333; line-height: 17px; text-align:left; }
	#store-list .store-olive .slide-olive-detail-mo p::before { content:'·'; position:absolute; top:0px; left:0px; display:block; font-size:16px; font-weight:300; line-height: 14px;}
	#store-list .store-olive .slide-olive-detail-mo p strong { font-weight:300; color:#171c8f;}
	#store-list .store-olive .slide-olive-detail-mo p:last-of-type { margin-bottom:0;}
	#store-list .store-list { margin-bottom:40px;}
	#store-list .store-list-type { display:none;}
	#store-list .store-list-header { margin-bottom:0px;}
	#store-list .store-list-top { padding: 16px;}
	#store-list .store-list-top .store-total-count { font-weight: 400; font-size: 13px; line-height: 19px; color:#000;}
	#store-list .store-list-top .store-color-service { display:none;}
	#store-list .store-list ul li { width:50%; margin-bottom:5px; padding:0 14px 16px 16px; }
	#store-list .store-list ul li .store-contents { padding:19px 0 0 2px; border-top: 1px solid #a6a6a6;}
	#store-list .store-list .store-contents > div { font-size: 14px; line-height: 18px;}
	#store-list .store-search { position:relative; margin-bottom:0; padding:16px 12px 16px 120px;}
	#store-list .store-search .store-search-title { display:none;}
	#store-list .store-search form { width:100%; max-width:100%;}
	#store-list .store-search input { width:100%; max-width:100%; border:1px solid #a6a6a6; box-sizing:border-box; border-radius: 10px;}
	#store-list .store-search button.store-button-search {background: url(/wp-content/uploads/2022/05/ico-search-mo.svg) no-repeat center/contain;}
	/*모바일 select 카테고리 버튼*/
	#store-list .store-search .store-mobile-category-btns * { box-sizing: border-box; }
	#store-list .store-search .store-mobile-category-btns { position: absolute; display:block; top:16px; left:16px; width: 100px; height: 40px; border-radius: 10px; border: 1px solid #A6A6A6; background: url('/wp-content/uploads/2022/06/select-mo-label-bg.png') center no-repeat; background-size: contain; cursor: pointer;}
	#store-list .store-search .store-mobile-category-btns .label { display: flex; justify-content: flex-start; align-items: center; width: inherit; height: inherit; padding: 10px 14px; background:transparent; border: 0 none; outline: 0 none; font-weight: 400; font-size: 14px; cursor: pointer; box-shadow: inset 0 0 0 rgb(0 0 0 / 0%); }
	#store-list .store-search .store-mobile-category-btns .optionList { position: absolute; top: 39px; left: 0; width: 170px; color: #111; list-style-type: none; margin:0; padding: 0; padding-bottom:10px; border: 1px solid #A6A6A6; border-radius: 10px; overflow: hidden; max-height: 0; transition: .3s ease-in; z-index:5; opacity:0;}
	#store-list .store-search .store-mobile-category-btns.active .optionList { max-height: 210px; opacity:1; }
	#store-list .store-search .store-mobile-category-btns .optionItem { height:40px; margin:0; padding: 5px; transition: .1s; background: rgba(255, 255, 255, 0.95); font-weight: 400; font-size: 16px;}
	#store-list .store-search .store-mobile-category-btns .optionItem p {display:flex; justify-content:center; align-items:center; width:100%; height:100%; margin:0;}
	#store-list .store-search .store-mobile-category-btns .optionItem:hover { background: #F7F7F7;}
	#store-list .store-search .store-mobile-category-btns .optionItem .category-filter-mo { display:none;}


    #store--editor select,
    #store--editor input[type=text],
    #store--editor input[type=email],
    #store--editor input[type=number],
    #store--editor input[type=date],
    #store--editor input[type=password],
    #store--editor input[type=file] { width: 100% !important; box-sizing: border-box; }
    #store--editor .store-attr-row { padding: 10px 0; }
    #store--editor .store-attr-row .attr-name { padding: 0; width: 100%; font-size: 14px; }
    #store--editor .store-attr-row .attr-value { margin: 0; }
    #store--editor .store-attr-row .attr-value .store-tree-category-wrap select { margin-bottom: 10px; width: 100%; }
    #store--editor.confirm { max-width: none; }

    #store--document .store-title h1 { padding: 10px 5px; font-size: 18px; }
    #store--document .store-content .content-view { padding: 10px 5px; }
    #store--document .store-detail .detail-attr { clear: both; padding: 10px 5px; line-height: normal; }
    #store--document .store-detail .detail-attr.detail-writer { line-height: 24px; }
    #store--document .store-document-action { padding: 10px 5px 5px 5px; }
    #store--document .store-attach { margin: 0 5px; padding: 10px 0 5px 0; }
    #store--document .store-document-navi .store-prev-document { width: 100%; }
    #store--document .store-document-navi .store-next-document { margin-top: 10px; float: left; width: 100%; text-align: left; }

    .store #kboard-avatar-document{padding: 0 24px;}
    .store #kboard-avatar-document .kboard-document-navi{float: none; padding: 0;}
    .store #kboard-avatar-document .kboard-document-navi > div{ width: auto;}
}
@media screen and (max-width: 768px) {
    #store-list .store-control a{margin-right: 16px;}
	#store-list .store-list ul li { width:100%; }
	#store-list .board-more-btn a:hover{background: #e9e9e9;}
}