* {
  box-sizing: border-box;
}

.outer {
  border: 6px solid #525252;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner-grp {
  display: flex;
  transition: all 0.3s ease-out;
}

.inner {
  padding: 0 16px;
  color: #fff;
  text-align: center;
  width: 300px;
  height: 300px;
}

.inner:nth-of-type(1) {
  background-color: rgb(209, 0, 0);
}
.inner:nth-of-type(2) {
  background-color: rgb(255, 248, 49);
}
.inner:nth-of-type(3) {
  background-color: rgb(60, 0, 255);
}

.btn-grp {
  text-align: center;
}

.btn-grp button {
  border: none;
  border-radius: 10px;
  background-color: #525252;
  color: #fff;
  padding: 10px 20px;
  width: 100px;
  margin-top: 20px;
}