.TodoEditor .editor_wrapper {
  width: 100%;
  display: flex;
  justify-contenet: center;
  align-items: flex-end;
  gap: 10px;
}
.TodoEditor input {
  flex: 1;
  border: 1px solid #dcdcdc;
  border-top: 15px;
  border-radius: 5px;
  padding: 10px;
}
.TodoEditor input:focus {
  outline: none;
  border: 1px solid #1f93ff;
}
.TodoEditor button {
  width: 80px;
  height: 48px;
  border: none;
  border-radius: 5px;
  cusor: pointer;
  background: #1f93ff;
}
