.TodoList .searchBar {
  margin: 20px 0;
  padding-left: 4px;
  padding-bottom: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dcdcdc;
}
.TodoList .searchBar:focus {
  outline: none;
  border-bottom: 1px solid #1f93ff;
}
