body {
  height: 2000px; /* 페이지를 스크롤할 만큼 높게 설정 */
  padding: 0;
  margin: 0;
  background: gray;
}
#target {
  margin-top: 1500px; /* 특정 위치를 스크롤할 수 있게 임의의 위치 설정 */
  height: 100px;
  background-color: coral;
}
#scroll {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*
---------------------------------------
hover effect 24
---------------------------------------
*/

.SMN_effect-24 a {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.SMN_effect-24 a span:before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #218c74;
  border-left: 2px solid #218c74;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.SMN_effect-24 a span:after {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #218c74;
  border-bottom: 2px solid #218c74;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.SMN_effect-24 a:before {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #218c74;
  border-top: 2px solid #218c74;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.SMN_effect-24 a:after {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #218c74;
  border-bottom: 2px solid #218c74;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.SMN_effect-24 a:hover {
  color: #218c74;
}

.SMN_effect-24 a:hover:before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.SMN_effect-24 a:hover:after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.SMN_effect-24 a:hover span:before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.SMN_effect-24 a:hover span:after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

/*  */

/*
---------------------------------------
hover effect 34
---------------------------------------
*/
