body {
  position: relative;
}
#box {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  background: linear-gradient(#cb60b3 0%, #db36e4 100px);

  animation-name: rint;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
/* animation-iteration-count: infinite; 무제한으로 움직인다 */
@keyframes rint {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  50% {
    left: 500px;
  }
  100% {
    left: 500px;
    transform: rotate(180deg);
  }
}
/* from {
  left: 0;
}시작점 
to {
  left: 500px;
}
}끝점 */
