// 전후 문자선택자로
// 하트 반씩 만들고
// 애니메이션 넣는다

// 1. div 로 사각형만들고
// 2. 전후문자선택자 = before/ after활용해서 => 각 원을 만들어서
// 위치를 이동시킨다
// 3. 하트문양으로 만든다
// 4. animation을 만든다  => keyframes를 활용해서 일정시간에 맞춰서 크기를 조정한다 => scale( )
* {
}

body {
  background: #000;
  div {
    // display: flex;
    // width: 300px;
    // height: 300px;
    // border: 1px solid #f00;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background: green;
    transition: rotateY(45deg);

    &::before {
      content: "";
      position: absolute;
      justify-content: center;
      align-content: center;
      // transform: translateX(50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: blue;
    }
    &::after {
      content: "";
      position: absolute;
      justify-content: center;
      align-content: center;
      // transform: tr;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: crimson;
    }
  }
}
