/* reset css를 먼저 정의를 한다 */
ul {
  display: flex;
}

li {
  list-style: none;
  padding: 15px;
}

li:nth-child(2n) {
  background: crimson;
}

li:nth-child(2n + 1) {
  background: teal;
}

li:first-child {
  border-radius: 10px 0 0 10px;
}

li:last-child {
  border-radius: 0 10px 10px 0;
}
