// .font 라는 클래스는 없지만
// 공통된 접두어가 있으면 다같이 효과줄 수있다
.font {
  &-large {
    font-size: 60px;
    color: crimson;
    text-transform: uppercase;
  }
  &-medium {
    font-size: 40px;
    color: yellowgreen;
  }
  &-small {
    color: royalblue;
  }
}
