 /* slider__wrap */
 .slider__wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__img {  /* 이미지가 보이는 영역 */
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}
.slider__inner {    /* 이미지 움직이는 영역 */
  display: flex;
  flex-wrap: wrap;
  width: 4800px;  /* 총 이미지 영역 */
  height: 450px;
}
.slider {   /* 개별적인 이미지 */
  position: relative;
  width: 800px;
  height: 450px;
}