/* reset */
@import url("../reset.css");

/* ------------------<jj_header>----------------- */
body {
  width: 100%;
}
.header-notice {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #000;
  span {
    height: 13px;
    cursor: pointer;
    padding: 0 50px;

    font-weight: Medium;
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: "Pretendard", sans-serif;
    /* font: Medium 0.6875rem/1 "Pretendard", sans-serif; */

    color: #fff;
    letter-spacing: -5%;
  }
  span:nth-child(2) {
    border-left: 0.7px solid #fff;
    border-right: 0.7px solid #fff;
  }
}
.header-main {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    background: none;
    margin-left: 50px;
    h4 {
      font-weight: SemiBold;
      font-style: normal;
      font-size: 20px;
      /* font-size: rem; */
      font-family: "Montserrat", sans-serif;
      /* font: SemiBold 0.20px/1 "Montserrat", sans-serif; */
      letter-spacing: -5%;
      color: #000;
    }
    img {
      display: none;
    }
  }
  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    img {
      height: 40px;
    }
  }
  .gnb {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      display: flex;
      align-items: center;
      margin-left: 20px;
      img {
        height: 17px;
      }
    }
    span:nth-child(1) {
      margin: 0;
    }
  }
}
