/*p:nth-child(2) {
  font-size: 100%;
}
p:nth-child(3) {
  font-size: 150%;
}
p:nth-child(4) {
  font-size: 200%;
} */
/*1
p:nth-child(2) {
  font-size: 1em;
}
p:nth-child(3) {
  font-size: 1.5em;
}
p:nth-child(4) {
  font-size: 2em;
} */

/*2
p:nth-child(2) {
  font-size: 16px;
}
p:nth-child(3) {
  font-size: 24px;
}
p:nth-child(4) {
  font-size: 32px;
} */

/*3  {
  font-size: 12px;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
} */

/* * {
  font-size: 30px;
}
div {
  font-size: 20px;
} */

/* p {
  color: #00f; !important
}
p {
  color: #f00;
} */

/* #my-box {
  color: #f00;
}
.text {
  color: #000;
} */

/* #my-box .text {
  color: #f00;
}
.black {
  color: #000;
} */

/* * {
  font-size: 30px;
}
div {
  font-size: 20px;
}
p:nth-child(2) {
  font-size: 2em;
}
p:nth-child(3) {
  font-size: 50px;
}
p:nth-child(4) {
  font-size: 200%;
}
p:nth-child(5) {
  font-size: 50px;
} */

/* #box1 {
  width: 200px;
  height: 200px;
  background: #f00;
}
#box2 {
  width: 50vw;
  height: 30vh;
  background: #f00;
} */
