@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */

a.kboard-enotice-button-small,
input.kboard-enotice-button-small,
button.kboard-enotice-button-small { position: relative; display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 8px 20px; width: auto; font-size: 13px; font-weight: normal; letter-spacing: normal; color: #333 !important; background: #eaeaea !important; border: none; border-radius: 0; text-decoration: none !important; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; transition-duration: 0.3s; box-sizing: content-box; border-radius:3px; }
a.kboard-enotice-button-small:hover,
a.kboard-enotice-button-small:focus,
a.kboard-enotice-button-small:active,
input.kboard-enotice-button-small:hover,
input.kboard-enotice-button-small:focus,
input.kboard-enotice-button-small:active,
button.kboard-enotice-button-small:hover,
button.kboard-enotice-button-small:focus,
button.kboard-enotice-button-small:active { opacity: 0.7; }

.kboard-enotice-poweredby { float: left; padding-bottom: 15px; width: 100%; font-size: 14px; }
.kboard-enotice-new-notify { display: inline-block; *display: inline; zoom: 1; padding: 2px 2px; line-height: 10px; font-size: 10px; color: white; background-color: #f61b5d; font-weight: normal; }
.kboard-enotice-cut-strings { width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; }

#kboard-enotice-list { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#kboard-enotice-list form { margin: 0; padding: 0; }
#kboard-enotice-list .kboard-list-header { float: left; display: table; padding-bottom: 12px; width: 100%; }
#kboard-enotice-list .kboard-list-header .kboard-total-count { display: table-cell; padding-left:5px; font-size: 14px; color: #111; vertical-align:bottom; }
#kboard-enotice-list .kboard-list-header .kboard-sort { display: table-cell; text-align: right; }
#kboard-enotice-list .kboard-list-header .kboard-sort select { display: inline; margin: 0; padding: 0; width: auto; min-width: 0; max-width: none; height: 26px; min-height: 0; line-height: 26px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: content-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-enotice-list .kboard-category { float: left; margin-bottom:33px; width: 100%; }
#kboard-enotice-list .kboard-category.category-mobile { display: none; }
#kboard-enotice-list .kboard-category.category-pc { display: block; }
#kboard-enotice-list .kboard-category select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; min-width: 100%; height: 28px; min-height: 0; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-enotice-list .kboard-category .kboard-category-list { width:100%; margin: 0 0 5px 0; padding: 0; list-style: none; border: 0; overflow: hidden; }
#kboard-enotice-list .kboard-category .kboard-category-list li { position:relative; display: block; float:left; width:calc((100% - 35px) / 8); margin: 0 5px 0 0; padding: 0; border: 0; list-style: none; background:#F7F7F7; box-sizing:border-box;}
#kboard-enotice-list .kboard-category .kboard-category-list::after { content:''; display:block; clear:both;}
#kboard-enotice-list .kboard-category .kboard-category-list li:last-of-type { margin-right:0;}
#kboard-enotice-list .kboard-category .kboard-category-list li::before,
#kboard-enotice-list .kboard-category .kboard-category-list li::after { display: none; }
#kboard-enotice-list .kboard-category .kboard-category-list li a { display: block; width:100%; height:0; padding-top: calc(130 / 144 * 100%); font-size: 0; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; background-repeat:no-repeat; background-position:center; background-size:contain; }
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(1) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-all.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(1).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-all_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(2) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-order.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(2).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-order_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(3) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-delivery.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(3).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-delivery_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(4) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-return.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(4).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-return_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(5) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-event.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(5).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-event_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(6) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-product.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(6).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-product_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(7) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-membership.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(7).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-membership_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(8) a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-etc.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li:nth-of-type(8).kboard-category-selected a { background-image:url('/wp-content/plugins/kboard/skin/enotice-board/images/icon-etc_sel.png');}
#kboard-enotice-list .kboard-category .kboard-category-list li.kboard-category-selected { background:#F2ACB9;}

#kboard-enotice-list .kboard-tree-category-wrap { float: left; padding-bottom: 15px; width: 100%; }
#kboard-enotice-list .kboard-tree-category-wrap select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; height: 28px; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-enotice-list .kboard-tree-category-search .kboard-search-option-wrap.type-select { width: auto; }
#kboard-enotice-list .kboard-tree-category-search .kboard-search-option-wrap.type-tab { width: 100%; }
#kboard-enotice-list .kboard-tree-category { float: left; margin: 0 0 5px 0; padding: 0; width: 100%; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; }
#kboard-enotice-list .kboard-tree-category li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; }
#kboard-enotice-list .kboard-tree-category li::before,
#kboard-enotice-list .kboard-tree-category li::after { display: none; }
#kboard-enotice-list .kboard-tree-category li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; }
#kboard-enotice-list .kboard-tree-category li.kboard-category-selected a { font-weight: 500; border-bottom: 2px solid #545861; }
#kboard-enotice-list .kboard-tree-category-search { float: left; width: 100%; }
#kboard-enotice-list .kboard-tree-category-search .kboard-search-option-wrap { margin-right: 5px; float: left; }
#kboard-enotice-list .kboard-list { float: left; width: 100%; background-color: white; }
#kboard-enotice-list .kboard-list table { display: table; table-layout: fixed; margin: 0; padding: 0; width: 100%; border: 0; font-size: 14px; border-collapse: collapse; }
#kboard-enotice-list .kboard-list table a { text-decoration: none; border: 0; box-shadow: none; }
#kboard-enotice-list .kboard-list table tr { border: 0; background-color: transparent; transition-duration: 0.3s; }
#kboard-enotice-list .kboard-list table td { height: auto; padding: 20px 0; text-align: center; vertical-align: middle; font-size: 16px; color: #111; font-weight: 400; word-break: break-all; border: 0; border-bottom: 1px solid #d9d9d9; }
#kboard-enotice-list .kboard-list table tr:first-of-type td { border-top: 1px solid #A6A6A6;}
#kboard-enotice-list .kboard-list table td.kboard-list-uid { width: 12%; padding-left:15px; font-size:21px; font-weight:400;}
#kboard-enotice-list .kboard-list table td.kboard-list-title { width: auto; font-size:17px; }
#kboard-enotice-list .kboard-list table td.kboard-list-attach { width: 15%; padding-right: 15px;}
#kboard-enotice-list .kboard-list thead { background-color: transparent; }
#kboard-enotice-list .kboard-list thead tr td { padding: 14px 0; font-size:16px !important; font-weight: 500 !important; color: #111; border: 0; border-top: 1px solid #777; border-bottom: 1px solid #777; background: #f7f7f7; }
#kboard-enotice-list .kboard-list tbody tr td.kboard-list-attach .kboard-attach-list { cursor:pointer;}
#kboard-enotice-list .kboard-list tbody tr td.kboard-list-attach .kboard-attach-list img { transition:0.3s; }
#kboard-enotice-list .kboard-list tbody tr td.kboard-list-attach .kboard-attach-list:hover img { opacity:0.7; }

#kboard-enotice-list .kboard-list tbody tr.toggle-content {cursor:auto; }
#kboard-enotice-list .kboard-list tbody tr.toggle-content:hover {opacity:1;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td { padding:0; background-color:#fafafa; border:none;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .con { padding:24px 24px 24px 270px; display:none; border-bottom:1px solid #D9D9D9;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .con-txt { font-weight:300; text-align:left;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .con-txt p { margin:0; padding:0;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list { position:relative; width:600px; margin-bottom:10px; padding-top:18px; padding-bottom:18px; border:1px solid #d9d9d9; border-radius: 8px; cursor:pointer;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list:first-of-type { margin-top:20px;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list:last-of-type { margin-bottom:0;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list .kboard-attach-list-fileicon { position:absolute; top:50%; left:12px; transform:translateY(-50%); display:block; width:45px; height:45px;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list .kboard-attach-list-txt { margin-bottom:0; padding-left:65px; padding-right:60px; font-size:15px; font-weight:400; text-align:left; transition-duration: 0.3s;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list .kboard-attach-list-downicon { position:absolute; top:50%; right:12px; transform:translateY(-50%); display:block; width:40px; height:41px; background:url('/wp-content/plugins/kboard/skin/avatar/images/icon-down.png') no-repeat center/cover;}
#kboard-enotice-list .kboard-list tbody tr.toggle-content td .kboard-attach .kboard-attach-list:hover .kboard-attach-list-txt { opacity: 0.7;}

#kboard-enotice-list .kboard-list tbody tr.kboard-list-notice { background-color: #f4f4f4; }
#kboard-enotice-list .kboard-list tbody tr.kboard-list-selected .kboard-enotice-cut-strings { font-weight: 500; }
#kboard-enotice-list .kboard-list .kboard-mobile-contents { display: none; font-size: 13px; color: #999999; }
#kboard-enotice-list .kboard-list .kboard-mobile-contents .contents-item { display: inline; margin: 0; padding: 0; }
#kboard-enotice-list .kboard-list .kboard-mobile-contents .contents-item img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#kboard-enotice-list .kboard-list .kboard-mobile-contents .contents-separator { display: inline; margin: 0; padding: 0 2px; color: #bebebe; }

#kboard-enotice-list .kboard-pagination { float: left; padding: 15px 0; width: 100%; margin-top:40px; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages { float: left; margin: 0; padding: 0; width: 100%; list-style: none; text-align: center; border: 0; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; vertical-align:middle; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li a { position:relative; display: block; margin: 0; padding: 0 10px; width:40px; height: 40px; line-height: 40px; font-size: 19px; color: #A6A6A6; text-decoration: none; border: 0; box-shadow: none; transition-duration: 0.3s; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li:hover a,
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.active a { border: 0; color: #111111;}
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li:before { display: none; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li:after { display: none; }
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.first-page a { background:url('/wp-content/plugins/kboard/helper/icon-firstpage.png') no-repeat center;}
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.prev-page a { background:url('/wp-content/plugins/kboard/helper/icon-prevpage.png') no-repeat center;}
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.last-page a { background:url('/wp-content/plugins/kboard/helper/icon-lastpage.png') no-repeat center;}
#kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.next-page a { background:url('/wp-content/plugins/kboard/helper/icon-nextpage.png') no-repeat center;}
#kboard-enotice-list .kboard-search { position: relative; display: flex; justify-content:center; align-items:center; width:100%; height:100px; margin-bottom:5px; background:#f7f7f7; }
#kboard-enotice-list .kboard-search h3 { display:inline-block; margin:0; font-size:21px; font-weight:500; color:#111; margin-right:20px; margin-bottom:-5px; vertical-align:middle;}
#kboard-enotice-list .kboard-search .enotice-search-bar { position:relative; display:inline-block;}
#kboard-enotice-list .kboard-search input { display: inline; margin: 0; padding: 0 16px; width: 434px; min-width: 0; max-width: 434px; height: 40px; min-height: 0; font-size: 15px; color: #111; border-radius: 0; border: 1px solid #c1c1c1;
    background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; border-radius: 50px; }
#kboard-enotice-list .kboard-search input::placeholder { color: #a6a6a6; line-height: 21px; }
#kboard-enotice-list .kboard-search button.kboard-enotice-button-search { position: absolute; right: 8px; width: 40px; height: 40px; font-size: 0; line-height: 0; background: url('/wp-content/uploads/2022/05/ico-search.svg') no-repeat center center;  }
#kboard-enotice-list .kboard-search button.kboard-enotice-button-search:hover { background-color: none; box-shadow: none; }
#kboard-enotice-list .kboard-control { float: right; padding-bottom: 15px; text-align: right; }

#kboard-enotice-editor { overflow: hidden; }
#kboard-enotice-editor form { margin: 0; padding: 0; }
#kboard-enotice-editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 30%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-enotice-editor input[type=text],
#kboard-enotice-editor input[type=email],
#kboard-enotice-editor input[type=number],
#kboard-enotice-editor input[type=date],
#kboard-enotice-editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 30%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; }
#kboard-enotice-editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
#kboard-enotice-editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }
#kboard-enotice-editor select:hover,
#kboard-enotice-editor input[type=text]:hover,
#kboard-enotice-editor input[type=email]:hover,
#kboard-enotice-editor input[type=number]:hover,
#kboard-enotice-editor input[type=date]:hover,
#kboard-enotice-editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; }
#kboard-enotice-editor select:focus,
#kboard-enotice-editor input[type=text]:focus,
#kboard-enotice-editor input[type=email]:focus,
#kboard-enotice-editor input[type=number]:focus,
#kboard-enotice-editor input[type=date]:focus,
#kboard-enotice-editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; }
#kboard-enotice-editor input[type=file] { display: inline; margin: 0; padding: 0; width: 30%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; }
#kboard-enotice-editor .kboard-attr-title input { width: 70%; }
#kboard-enotice-editor .kboard-attr-row { float: left; padding: 5px 0; width: 100%; background-color: white; }
#kboard-enotice-editor .kboard-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 120px; line-height: 30px; color: #545861; font-size: 14px; font-weight: bold; }
#kboard-enotice-editor .kboard-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; }
#kboard-enotice-editor .kboard-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; }
#kboard-enotice-editor .kboard-attr-row.kboard-attr-content .attr-name { display: none; }
#kboard-enotice-editor .kboard-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 30px; font-size: 14px; }
#kboard-enotice-editor .kboard-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; }
#kboard-enotice-editor .kboard-attr-row .attr-value .attr-value-option input { cursor: pointer; }
#kboard-enotice-editor .kboard-attr-row .attr-value .attr-value-label { display: inline; padding-right: 5px; width: auto; cursor: pointer; }
#kboard-enotice-editor .kboard-attr-row .attr-value .attr-value-label input { cursor: pointer; }
#kboard-enotice-editor .kboard-attr-row .attr-value .description { margin: 0; color: #666666; }
#kboard-enotice-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap { overflow: hidden; }
#kboard-enotice-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; }
#kboard-enotice-editor .kboard-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; }
#kboard-enotice-editor .kboard-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 250px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; }
#kboard-enotice-editor .kboard-control { float: left; padding: 15px 0; width: 100%; }
#kboard-enotice-editor .kboard-control .left { position: static; float: left; }
#kboard-enotice-editor .kboard-control .right { position: static; float: right; width: 50%; text-align: right; }
#kboard-enotice-editor.confirm { margin: 100px auto; max-width: 590px; }
#kboard-enotice-editor.confirm input[type=password] { width: 100%; box-sizing: border-box; }

#kboard-enotice-document { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#kboard-enotice-document .kboard-document-wrap { float: left; width: 100%; background-color: white; }
#kboard-enotice-document .kboard-title { float: left; width: 100%; }
#kboard-enotice-document .kboard-title h1 { margin: 0; padding: 12px 22px; color: #545861; font-weight: bold; font-size: 22px; line-height: 30px; text-align: left; }
#kboard-enotice-document .kboard-detail { clear: both; float: left; width: 100%; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; background-color: #f9f9f9; font-size: 14px; }
#kboard-enotice-document .kboard-detail .detail-attr { display: inline-block; *display: inline; zoom: 1; float: left; margin: 0; padding: 12px 35px 12px 22px; line-height: 24px; }
#kboard-enotice-document .kboard-detail .detail-attr .detail-name { float: left; font-weight: bold; color: #545861; text-align: right; }
#kboard-enotice-document .kboard-detail .detail-attr .detail-value { float: left; padding-left: 20px; color: #545861; }
#kboard-enotice-document .kboard-detail .detail-attr .detail-value a { color: #545861; text-decoration: none; border: 0; box-shadow: none; }
#kboard-enotice-document .kboard-detail .detail-attr .detail-value img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#kboard-enotice-document .kboard-content { clear: both; float: left; width: 100%; min-height: 200px; }
#kboard-enotice-document .kboard-content .content-view { margin: 0; padding: 22px; word-break: break-all; }
#kboard-enotice-document .kboard-content .content-view iframe { max-width: 100%; }
#kboard-enotice-document .kboard-content .content-view img { display: inline; margin: 0; vertical-align: middle; max-width: 100%; }
#kboard-enotice-document .kboard-content .content-view hr { margin: 10px 0; padding: 0; height: 1px; border: 0; background-color: #f1f1f1; }
#kboard-enotice-document .kboard-content .content-view ul { margin: 0.75em 0; }
#kboard-enotice-document .kboard-content .content-view ol { margin: 0.75em 0; }
#kboard-enotice-document .kboard-content .content-view p { margin: 0 0 0.75em; }
#kboard-enotice-document .kboard-content .content-view p:last-child { margin: 0; }
#kboard-enotice-document .kboard-content .content-view .thumbnail-area { text-align: center; }
#kboard-enotice-document .kboard-content .content-view .aligncenter { display: block; margin-right: auto; margin-left: auto; }
#kboard-enotice-document .kboard-content .content-view .alignright { float:right; }
#kboard-enotice-document .kboard-content .content-view .alignleft { float: left; }
#kboard-enotice-document .kboard-document-action { padding: 0 22px 5px 22px; overflow: hidden; line-height: 1; }
#kboard-enotice-document .kboard-document-action .left { position: static; float: left; }
#kboard-enotice-document .kboard-document-action .right { position: static; float: right; text-align: right; }
#kboard-enotice-document .kboard-attach { clear: both; margin: 0 22px; padding: 10px 0 5px 0; font-size: 13px; overflow: hidden; line-height: 1; border-top: 1px dashed #ededed; }
#kboard-enotice-document .kboard-button-action { margin: 0 0 5px 0; padding: 4px 5px; font-size: 13px; font-weight: normal; line-height: 12px; text-align: left; border: 1px solid #ededed; background: none; background-color: white; border-radius: 2px; letter-spacing: normal; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; }
#kboard-enotice-document .kboard-button-action span { position: static; display: inline; margin: 0; padding: 0; font-size: 13px; line-height: 12px; }
#kboard-enotice-document .kboard-button-like { color: #ff5959; }
#kboard-enotice-document .kboard-button-unlike { color: #3d62aa; }
#kboard-enotice-document .kboard-button-print { color: gray; }
#kboard-enotice-document .kboard-button-download { color: gray; }
#kboard-enotice-document .kboard-comments-area { float: left; width: 100%; }
#kboard-enotice-document .kboard-document-navi { float: left; padding-top: 15px; width: 100%; }
#kboard-enotice-document .kboard-document-navi a { display: block; text-decoration: none; border: 0; font-size: 14px; line-height: 20px; box-shadow: none; color: #545861; transition-duration: .3s; }
#kboard-enotice-document .kboard-document-navi .navi-document-title { display: block; }
#kboard-enotice-document .kboard-document-navi .navi-arrow { position: absolute; display: block; }
#kboard-enotice-document .kboard-document-navi .kboard-prev-document { position: relative; float: left; width: 45%; }
#kboard-enotice-document .kboard-document-navi .kboard-prev-document .navi-document-title { padding-left: 15px; }
#kboard-enotice-document .kboard-document-navi .kboard-prev-document .navi-arrow { left: 0; top: 0; }
#kboard-enotice-document .kboard-document-navi .kboard-prev-document:hover a { color: black; }
#kboard-enotice-document .kboard-document-navi .kboard-next-document { position: relative; float: right; width: 45%; text-align: right; }
#kboard-enotice-document .kboard-document-navi .kboard-next-document .navi-document-title { padding-right: 15px; }
#kboard-enotice-document .kboard-document-navi .kboard-next-document .navi-arrow { right: 0; top: 0; }
#kboard-enotice-document .kboard-document-navi .kboard-next-document:hover a { color: black; }
#kboard-enotice-document .kboard-control { float: left; padding: 15px 0;  width: 100%; }
#kboard-enotice-document .kboard-control .left { position: static; float: left; }
#kboard-enotice-document .kboard-control .right { position: static; float: right; text-align: right; }

#kboard-enotice-latest table { display: table; table-layout: fixed; width: 100%; border: 0; border-bottom: 1px solid #f1f1f1; }
#kboard-enotice-latest table tr { padding: 0; border: 0; }
#kboard-enotice-latest table th { padding: 5px 0; height: auto; border: 0; text-align: center; }
#kboard-enotice-latest table td { padding: 5px 0; height: auto; border: 0; border-top: 1px solid #f1f1f1; vertical-align: middle; }
#kboard-enotice-latest table td.kboard-latest-title { text-align: left; }
#kboard-enotice-latest table .kboard-latest-title { padding-left: 5px; font-size: 14px; }
#kboard-enotice-latest table .kboard-latest-title a { text-decoration: none; box-shadow: none; }
#kboard-enotice-latest table .kboard-latest-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; }
#kboard-enotice-latest table .kboard-latest-title .kboard-comments-count { }
#kboard-enotice-latest table .kboard-latest-date { width: 80px; text-align: center; font-size: 14px; }
@media screen and (max-width: 1380px) {
    #kboard-avatar-editor.enotice{margin-bottom: 100px;}
}
@media screen and (max-width: 768px) {
    #kboard-avatar-editor.enotice{margin-bottom: 60px;}
    #kboard-enotice-list .kboard-category.category-mobile { display: block; }
    #kboard-enotice-list .kboard-category.category-pc { display: none; }
    #kboard-enotice-list .kboard-tree-category-search .kboard-search-option-wrap.select { width: 100%; }
	#kboard-enotice-list .kboard-list { padding-left:10px; padding-right:10px;}
    #kboard-enotice-list .kboard-list table { border-top: 1px solid #f1f1f1; }
    #kboard-enotice-list .kboard-list table td.kboard-list-title .kboard-enotice-cut-strings { white-space: normal; }
    #kboard-enotice-list .kboard-list table td.kboard-list-user,
    #kboard-enotice-list .kboard-list table td.kboard-list-date,
    #kboard-enotice-list .kboard-list table td.kboard-list-vote,
    #kboard-enotice-list .kboard-list table td.kboard-list-view { display: none; }
    #kboard-enotice-list .kboard-list .kboard-mobile-contents { display: none; }
	#kboard-enotice-list .kboard-pagination { margin-top:0;}
	/*
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li { display: none; }
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.first-page,
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.last-page,
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.prev-page,
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.next-page,
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.active { display: inline-block; }
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.prev-page a,
    #kboard-enotice-list .kboard-pagination .kboard-pagination-pages li.next-page a { padding: 0 18px; } */
    #kboard-enotice-list .kboard-search select { float: left; margin-right: 1%; width: 29%; min-width: 29%; height: 28px; line-height: 28px; box-sizing: border-box; }
    #kboard-enotice-list .kboard-search input { float: left; margin-right: 1%; width: 49%; min-width: 49%; height: 28px; line-height: 28px; box-sizing: border-box; }
    #kboard-enotice-list .kboard-search input::placeholder { color: #a6a6a6 !important; }
    #kboard-enotice-list .kboard-search button { float: left; width: 20%; min-width: 20%; box-sizing: border-box; }
	#kboard-enotice-list .kboard-list-attach .kboard-attach-list img { transform:scale(0.7);}

	/* 모바일 추가수정 */
	#kboard-enotice-list .kboard-list table thead td { border-top: 1px solid #c1c1c1 !important;}
	#kboard-enotice-list .kboard-list thead tr td { border-bottom: 1px solid #c1c1c1;}
	#kboard-enotice-list .kboard-list table td.kboard-list-uid { width:14%; padding-left: 10px; font-size:13px !important;}
	#kboard-enotice-list .kboard-list thead tr td { padding: 16px 0; font-size:13px !important; font-weight:500; }
	#kboard-enotice-list .kboard-list table td.kboard-list-attach { width:22%; padding-right: 10px;}
	#kboard-enotice-list .kboard-list table td.kboard-list-title { padding-left:10px; padding-right:10px; font-size:13px; }
	#kboard-enotice-list .kboard-list table tbody td { padding-top:16px; padding-bottom:16px;}

    #kboard-enotice-editor select,
    #kboard-enotice-editor input[type=text],
    #kboard-enotice-editor input[type=email],
    #kboard-enotice-editor input[type=number],
    #kboard-enotice-editor input[type=date],
    #kboard-enotice-editor input[type=password],
    #kboard-enotice-editor input[type=file] { width: 100% !important; box-sizing: border-box; }
    #kboard-enotice-editor .kboard-attr-row { padding: 10px 0; }
    #kboard-enotice-editor .kboard-attr-row .attr-name { padding: 0; width: 100%; font-size: 14px; }
    #kboard-enotice-editor .kboard-attr-row .attr-value { margin: 0; }
    #kboard-enotice-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap select { margin-bottom: 10px; width: 100%; }
    #kboard-enotice-editor.confirm { max-width: none; }

    #kboard-enotice-document .kboard-title h1 { padding: 10px 5px; font-size: 18px; }
    #kboard-enotice-document .kboard-content .content-view { padding: 10px 5px; }
    #kboard-enotice-document .kboard-detail .detail-attr { clear: both; padding: 10px 5px; line-height: normal; }
    #kboard-enotice-document .kboard-detail .detail-attr.detail-writer { line-height: 24px; }
    #kboard-enotice-document .kboard-document-action { padding: 10px 5px 5px 5px; }
    #kboard-enotice-document .kboard-attach { margin: 0 5px; padding: 10px 0 5px 0; }
    #kboard-enotice-document .kboard-document-navi .kboard-prev-document { width: 100%; }
    #kboard-enotice-document .kboard-document-navi .kboard-next-document { margin-top: 10px; float: left; width: 100%; text-align: left; }
    #kboard-enotice-list .kboard-control{padding-right: 10px;}
}

.kboard-avatar-poweredby {display:none !important;}