.portfolio {
  .test01 {
    font: {
      // font라는 접두어가 들어가있는 효과들을 주고싶을때
      size: 20px;
      weignt: bold;
      syle: italic;
    }
  }
  .test02 {
    text: {
      align: center;
      transform: uppercase;
    }
  }
}
