$crimson: crimson;
$black: #000;
// 전역변수 (전국구에서 쓸 수있다)

// 지역변수
// 이거를 잘라서 .portfolio 안에만 넣으면
// .headline 에서는 못써서 에러가 뜬다

.portfolio {
  // .portfolio라는 공간이 있다고 전제하에
  color: $crimson;
  h1 {
    color: $black;
  }
}

.headline {
  color: $crimson;
  h1 {
    color: $black;
  }
}

// ---------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

// scss에서는 reset 가져올때
// @import url();
// @import. "style08";
