@import url("./reset.css");
@import url("./font.css");
body {
  background-color: #025b63;
  font-family: GoogleSans;
}
nav {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 60px;
  border: 1px solid #f00;
  color: white;
  font-family: GoogleSans;
  padding: 20px;
}
.nav_top {
  font-size: 12px;
  margin: 0 15px;
}
.nav_top2 {
  margin: 0 15px;
}
#usericon {
  line-height: 20px;
  text-align: center;
  border: 1px solid #f00;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  background-color: #ef6c00;
}
/* line-height: 20px; text에 대한 높이를 40(line-height: 20px; + font-size: 20px;)가져가겠다 */

/* 내가 원래했던거
#usericon {
  align-content: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #f00;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: ;
  margin: 0;
  font-size: 20px;
  background-color: #ef6c00;
} */
