* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.faq {
  width: 700px;
}
.faq-inner h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.accordion {
  font-size: 18px;
  margin: 10px 0;
}
.accordion .title,
.accordion .content {
  background: #303030;
  margin-bottom: 7px;
  padding: 10px 15px;
}
.accordion .title {
  cursor: pointer;
  overflow: hidden;
}
.accordion .title::after {
  content: "\f00d";
  /* 폰트어썸 유니코드 */
  font-family: fontawesome;
  float: right;
  /* 오른쪽 끝에 가게 */
  margin-top: 5px;
  transition: all 0.3s;
  /* x아이콘이 돌때 자연스럽게 돌게 */
}
.accordion .title.active {
  background: #ce1e24;
}
.accordion .title.active::after {
  /* active 가상클래스가 들어갔을때 전후문자는 */
  transform: rotate(45deg);
}
.accordion .content {
  display: none;
}

.newletter {
  width: 100%;
  text-align: center;
}
.newletter p {
  font-size: 20px;
  margin-bottom: 10px;
}
.newletter form {
  display: flex;
}
.newletter input[type="email"],
.newletter button {
  border: none;
  height: 60px;
  font-size: 20px;
}
.newletter input[type="email"] {
  flex: 3;
  /* flex-grow를 flex로 단축할 수 있다. */
}
.newletter input[type="email"]:focus {
  outline: none;
}
.newletter input[type="email"]::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
.newletter input[type="email"]:focus::placeholder {
  opacity: 0;
}
.newletter button {
  flex: 1;
  /* background: #e84118; */
  background: #ce1e24;
  color: #fff;
  cursor: pointer;
}
/* .newletter input[type="submit"]::before {
  content: "";
  font-size: 20px;
  color: #fff;
  position: absolute;
} * => input은 전후문자 선택자가 안 먹는다
/* input은 전후문자 선택자가 안 먹어서 button */

.newletter button::after {
  content: "\f054";
  font-family: fontawesome;
  margin-left: 6px;
}
