/* reset css는 대부분 이렇게 따로 지정해서 연결해줌 */
@import url("./reset.css");

/* font css */
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
#title {
  font-family: "Coiny", system-ui;
}
/*header*/
#main_header {
  width: 960px;
  height: 160px;
  /*border: 1px solid #000;*/
  margin: 0 auto;
  /*부모요소에게 상대위치좌표를 적용하면 자식요소는 부모요소를 기준으로 절대위치좌표(absoulute)를 갖는다*/
  position: relative;
}
#main_header > #title {
  /*부모요소에게 상대위치좌표를 적용하면 자식요소는 부모요소를 기준으로 절대위치좌표(absoulute)를 갖는다*/
  position: absolute;
  left: 20px;
  top: 30px;
}

#main_header > #main_gnb {
  position: absolute;
  right: 0;
  top: 0;
}
#main_gnb > ul > li {
  float: left;
}
#main_gnb > ul {
  overflow: hidden;
}
#main_gnb > ul > li > a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #000;
}
/*a태그는 모든 li태그한테 첫번째니까 꼭 li에 nth-child를 붙여주어야함 */
#main_gnb > ul > li:nth-child(1) > a {
  border-radius: 10px 0 0 10px;
}
#main_gnb > ul > li:nth-child(5) > a {
  border-radius: 0 10px 10px 0;
}
#main_gnb > ul > li > a:hover {
  background: #000;
  color: #fff;
}

#main_header > #main_lnb {
  position: absolute;
  right: 0;
  bottom: 10px;
}
#main_header > #main_lnb > ul > li {
  float: left;
}
#main_lnb > ul {
  overflow: hidden;
}
#main_lnb > ul > li > a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
}
#main_lnb > ul > li:nth-child(1) > a {
  border-radius: 10px 0 0 10px;
}
#main_lnb > ul > li:nth-child(5) > a {
  border-radius: 0 10px 10px 0;
}
#main_lnb > ul > li > a:hover {
  background: #000;
  color: #fff;
}
#content {
  width: 960px;
  margin: 0 auto;
  /*자식요소에만 float를 적용해주고 다른 요소에는 영향받지 않도록 해주도록 overflow hidden설정*/
  overflow: hidden;
}
#content > #main_section {
  width: 750px;
  float: left;
}
#main_section > .main_article {
  margin-bottom: 10px;
  border: 1px solid #000;
  padding: 20px;
}
/*aside*/
#content > #main_aside {
  width: 200px;
  float: right;
  border: 1px solid #000;
}
#main_Aside input:nth-of-type(1) {
  display: none;
}
#main_Aside input:nth-of-type(1) ~ div:nth-of-type(1) {
  display: none;
}
#main_Aside input:nth-of-type(2) {
  display: none;
}
#main_Aside input:nth-of-type(2) ~ div:nth-of-type(2) {
  display: none;
}
#main_Aside input:nth-of-type(1):checked ~ div:nth-of-type(1) {
  display: block;
}
#main_Aside input:nth-of-type(2):checked ~ div:nth-of-type(2) {
  display: block;
}

.buttons {
  overflow: hidden;
}
.buttons > label {
  display: block;
  float: left;
  width: 105px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
#main_Aside input:nth-of-type(1):checked ~ .buttons > label:nth-of-type(1) {
  background: #fff;
  color: #000;
}
#main_Aside input:nth-of-type(2):checked ~ .buttons > label:nth-of-type(2) {
  background: #fff;
  color: #000;
}
.item {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #000;
  border-top: none;
}
.item .thumbnail {
  float: left;
}
.item .description {
  float: left;
  margin-left: 10px;
}
.item .description > strong {
  width: 120px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*footer*/
#main_footer {
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
}
