@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */

a.youtube-default-button-small,
a.youtube-thumbnail-button-small,
input.youtube-default-button-small,
button.youtube-default-button-small { position: relative; display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 8px 20px; width: auto; font-size: 13px; font-weight: normal; letter-spacing: normal; color: #545861 !important; background: #eaeaea !important; border: none; border-radius: 2px; text-decoration: none !important; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; transition-duration: 0.3s; box-sizing: content-box; }
a.youtube-default-button-small:hover,
a.youtube-thumbnail-button-small:hover,
a.youtube-default-button-small:focus,
a.youtube-default-button-small:active,
input.youtube-default-button-small:hover,
input.youtube-default-button-small:focus,
input.youtube-default-button-small:active,
button.youtube-default-button-small:hover,
button.youtube-default-button-small:focus,
button.youtube-default-button-small:active { opacity: 0.7; }

.kboard-thumbnail-button-small { position: relative; display: inline-block; margin: 0; padding: 8px 20px !important; width: auto; font-size: 13px; font-weight: normal; letter-spacing: normal; color: #545861 !important; background: #eaeaea !important; border: none; border-radius: 2px !important; text-decoration: none !important; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; transition-duration: 0.3s; box-sizing: content-box; }
.kboard-thumbnail-button-small:hover { opacity:0.7;}


.youtube-default-poweredby { float: left; padding-bottom: 15px; width: 100%; font-size: 14px; }
.youtube-default-new-notify { display: inline-block; *display: inline; zoom: 1; padding: 2px 2px; line-height: 10px; font-size: 10px; color: white; background-color: #f61b5d; font-weight: normal; }
.youtube-default-cut-strings { width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; }

#youtube-list-wrap { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#youtube-list-wrap form { margin: 0; padding: 0; }
#youtube-list-wrap .youtube-list-header { float: left; display: table; padding-bottom: 15px; width: 100%; }
#youtube-list-wrap .youtube-list-header .youtube-total-count { *float: left; display: table-cell; font-size: 14px; }
#youtube-list-wrap .youtube-list-header .youtube-sort { *float: right; display: table-cell; text-align: right; }
#youtube-list-wrap .youtube-list-header .youtube-sort select { display: inline; margin: 0; padding: 0; width: auto; min-width: 0; max-width: none; height: 26px; min-height: 0; line-height: 26px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: content-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#youtube-list-wrap .youtube-category { float: left; padding-bottom: 15px; width: 100%; }
#youtube-list-wrap .youtube-category.category-mobile { display: none; }
#youtube-list-wrap .youtube-category.category-pc { display: block; }
#youtube-list-wrap .youtube-category select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; min-width: 100%; height: 28px; min-height: 0; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#youtube-list-wrap .youtube-category .youtube-category-list { margin: 0 0 5px 0; padding: 0; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; }
#youtube-list-wrap .youtube-category .youtube-category-list li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; }
#youtube-list-wrap .youtube-category .youtube-category-list li::before,
#youtube-list-wrap .youtube-category .youtube-category-list li::after { display: none; }
#youtube-list-wrap .youtube-category .youtube-category-list li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; }
#youtube-list-wrap .youtube-category .youtube-category-list li.youtube-category-selected a { font-weight: bold; border-bottom: 2px solid #545861; color: #545861; }
#youtube-list-wrap .youtube-tree-category-wrap { overflow: hidden; }
#youtube-list-wrap .youtube-tree-category-wrap select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; height: 28px; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#youtube-list-wrap .youtube-tree-category-search .youtube-search-option-wrap.type-select { width: auto; }
#youtube-list-wrap .youtube-tree-category-search .youtube-search-option-wrap.type-tab { width: 100%; }
#youtube-list-wrap .youtube-tree-category { float: left; margin: 0 0 5px 0; padding: 0; width: 100%; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; }
#youtube-list-wrap .youtube-tree-category li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; }
#youtube-list-wrap .youtube-tree-category li::before,
#youtube-list-wrap .youtube-tree-category li::after { display: none; }
#youtube-list-wrap .youtube-tree-category li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; }
#youtube-list-wrap .youtube-tree-category li.youtube-category-selected a { font-weight: bold; border-bottom: 2px solid #545861; color: #545861; }
#youtube-list-wrap .youtube-tree-category-search { float: left; width: 100%; }
#youtube-list-wrap .youtube-tree-category-search .youtube-search-option-wrap { margin-right: 5px; float: left; }
#youtube-list-wrap .youtube-list { width: 100%; margin-bottom:37px;}
#youtube-list-wrap .youtube-list ul { display: flex; flex-wrap: wrap; flex-direction:row; justify-content: flex-start; row-gap: 4px; column-gap: 12px; margin: 0; padding: 0; width: 100%; list-style: none; }
#youtube-list-wrap .youtube-list ul li { position: relative; width: calc((100% - 12px) / 2); /* max-width: 435px; */ margin-bottom:0; transition-duration: 0.3s;  }
#youtube-list-wrap .youtube-list ul li:last-child { margin-bottom: auto!important; }
#youtube-list-wrap .youtube-list ul li a { display: block; width: 100%; height: 100%; }
#youtube-list-wrap .youtube-list-thumbnail { display: block; position: relative; width: 100%; height: 0; padding-top: calc(9 / 16 * 100%); background-size: cover; background-repeat:no-repeat; background-position: center center; }
#youtube-list-wrap .youtube-list-thumbnail .youtube-list-icon-play { position:absolute; bottom:15px; left:15px; display: flex; flex-direction: row; justify-content: center; align-items: center; width:40px; height:40px; background: rgba(250, 250, 250, 0.3); backdrop-filter: blur(20px); border-radius: 40px; }
#youtube-list-wrap .youtube-list-thumbnail .youtube-list-icon-play img { padding-left:4px;}
#youtube-list-wrap .youtube-list ul li a:hover .youtube-list-thumbnail .youtube-list-icon-play { opacity:0.8; }
#youtube-list-wrap .youtube-text { width: 100%; margin-top:4px; color:#111; text-align:left; padding:8px 8px 24px 8px; }
#youtube-list-wrap .youtube-text span.youtube-title { display: block; font-size:18px; font-weight:400;  }

#youtube-list-wrap .youtube-list .youtube-mobile-contents { display: none; font-size: 13px; color: #999999; }
#youtube-list-wrap .youtube-list .youtube-mobile-contents .contents-item { display: inline; margin: 0; padding: 0; }
#youtube-list-wrap .youtube-list .youtube-mobile-contents .contents-item img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#youtube-list-wrap .youtube-list .youtube-mobile-contents .contents-separator { display: inline; margin: 0; padding: 0 2px; color: #bebebe; }
#youtube-list-wrap .youtube-pagination { float: left; padding: 15px 0; width: 100%; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages { margin: 0; padding: 0; padding-left:24px; width: 100%; list-style: none; text-align: center; border: 0; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; vertical-align:middle; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li a { display: block; margin: 0; padding: 0 10px; width:40px; height: 40px; line-height: 36px; font-size: 19px; color: #A6A6A6; text-decoration: none; border: 0; box-shadow: none; transition-duration: 0.3s; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li:hover a,
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.active a { border: 0; color: #111111;}
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li:before { display: none; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li:after { display: none; }
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.first-page a { background:url('/wp-content/plugins/kboard/helper/icon-firstpage.png') no-repeat center;}
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.prev-page a { background:url('/wp-content/plugins/kboard/helper/icon-prevpage.png') no-repeat center;}
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.last-page a { background:url('/wp-content/plugins/kboard/helper/icon-lastpage.png') no-repeat center;}
#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.next-page a { background:url('/wp-content/plugins/kboard/helper/icon-nextpage.png') no-repeat center;}
#youtube-list-wrap .youtube-search { float: left; padding-bottom: 15px; width: 100%; text-align: center; }
#youtube-list-wrap .youtube-search select { display: inline; margin: 0; padding: 0 5px; width: 100px; min-width: 0; max-width: 100px; height: 26px; min-height: 0; font-size: 14px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#youtube-list-wrap .youtube-search input { display: inline; margin: 0; padding: 0 5px; width: 200px; min-width: 0; max-width: 200px; height: 26px; min-height: 0; font-size: 14px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; }
#youtube-list-wrap .youtube-control { float: left; padding-bottom: 15px; width: 100%; text-align: right; }

#kboard-default-editor { overflow: hidden; }
#kboard-default-editor form { margin: 0; padding: 0; }
#kboard-default-editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 70%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-default-editor input[type=text],
#kboard-default-editor input[type=email],
#kboard-default-editor input[type=number],
#kboard-default-editor input[type=date],
#kboard-default-editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 70%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; }
#kboard-default-editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
#kboard-default-editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }
#kboard-default-editor select:hover,
#kboard-default-editor input[type=text]:hover,
#kboard-default-editor input[type=email]:hover,
#kboard-default-editor input[type=number]:hover,
#kboard-default-editor input[type=date]:hover,
#kboard-default-editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; }
#kboard-default-editor select:focus,
#kboard-default-editor input[type=text]:focus,
#kboard-default-editor input[type=email]:focus,
#kboard-default-editor input[type=number]:focus,
#kboard-default-editor input[type=date]:focus,
#kboard-default-editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; }
#kboard-default-editor input[type=file] { display: inline; margin: 0; padding: 0; width: 100%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; }
#kboard-default-editor .kboard-attr-title input { width: 70%; }
#kboard-default-editor .kboard-attr-row { float: left; padding: 5px 0; width: 100%; background-color: white; }
#kboard-default-editor .kboard-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 120px; line-height: 30px; color: #545861; font-size: 14px; font-weight: bold; }
#kboard-default-editor .kboard-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; }
#kboard-default-editor .kboard-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; }
#kboard-default-editor .kboard-attr-row.kboard-attr-content .attr-name { display: none; }
#kboard-default-editor .kboard-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 30px; font-size: 14px; }
#kboard-default-editor .kboard-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; }
#kboard-default-editor .kboard-attr-row .attr-value .attr-value-option input { cursor: pointer; }
#kboard-default-editor .kboard-attr-row .attr-value .attr-value-label { display: inline; padding-right: 5px; width: auto; cursor: pointer; }
#kboard-default-editor .kboard-attr-row .attr-value .attr-value-label input { cursor: pointer; }
#kboard-default-editor .kboard-attr-row .attr-value .description { margin: 0; color: #666666; }
#kboard-default-editor .kboard-attr-row .attr-value .youtube-tree-category-wrap { float: left; width: 100%; }
#kboard-default-editor .kboard-attr-row .attr-value .youtube-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; }
#kboard-default-editor .kboard-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; }
#kboard-default-editor .kboard-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 250px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; }
#kboard-default-editor .kboard-control { float: left; padding: 15px 0; width: 100%; }
#kboard-default-editor .kboard-control .left { position: static; float: left; }
#kboard-default-editor .kboard-control .right { position: static; float: right; width: 50%; text-align: right; }
#kboard-default-editor.confirm { margin: 100px auto; max-width: 590px; }
#kboard-default-editor.confirm input[type=password] { width: 100%; box-sizing: border-box; }

/*수정모드*/
#kboard-youtube-editor { overflow: hidden; }
#kboard-youtube-editor form { margin: 0; padding: 0; }
#kboard-youtube-editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 70%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; }
#kboard-youtube-editor input[type=text],
#kboard-youtube-editor input[type=email],
#kboard-youtube-editor input[type=number],
#kboard-youtube-editor input[type=date],
#kboard-youtube-editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 70%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; }
#kboard-youtube-editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
#kboard-youtube-editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }
#kboard-youtube-editor select:hover,
#kboard-youtube-editor input[type=text]:hover,
#kboard-youtube-editor input[type=email]:hover,
#kboard-youtube-editor input[type=number]:hover,
#kboard-youtube-editor input[type=date]:hover,
#kboard-youtube-editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; }
#kboard-youtube-editor select:focus,
#kboard-youtube-editor input[type=text]:focus,
#kboard-youtube-editor input[type=email]:focus,
#kboard-youtube-editor input[type=number]:focus,
#kboard-youtube-editor input[type=date]:focus,
#kboard-youtube-editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; }
#kboard-youtube-editor input[type=file] { display: inline; margin: 0; padding: 0; width: 70%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; }
#kboard-youtube-editor .kboard-attr-title input { width: 70%; }
#kboard-youtube-editor .kboard-attr-row { float: left; padding: 0 0 30px; width: 100%; background-color: white; }
#kboard-youtube-editor .kboard-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 150px; line-height: 30px; color: #545861; font-size: 14px; font-weight: bold; }
#kboard-youtube-editor .kboard-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; }
#kboard-youtube-editor .kboard-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; }
#kboard-youtube-editor .kboard-attr-row.kboard-attr-content .attr-name { display: none; }
#kboard-youtube-editor .kboard-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 30px; font-size: 14px; }
#kboard-youtube-editor .kboard-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; }
#kboard-youtube-editor .kboard-attr-row .attr-value .attr-value-option input { cursor: pointer; }
#kboard-youtube-editor .kboard-attr-row .attr-value .attr-value-label { display: inline; padding-right: 5px; width: auto; cursor: pointer; }
#kboard-youtube-editor .kboard-attr-row .attr-value .attr-value-label input { cursor: pointer; }
#kboard-youtube-editor .kboard-attr-row .attr-value .description { margin-left: 10px; color: #ff0000; }
#kboard-youtube-editor .kboard-attr-row .attr-value .youtube-tree-category-wrap { float: left; width: 100%; }
#kboard-youtube-editor .kboard-attr-row .attr-value .youtube-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; }
#kboard-youtube-editor .kboard-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; }
#kboard-youtube-editor .kboard-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 250px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; }
#kboard-youtube-editor .kboard-control { float: left; padding: 15px 0; width: 100%; }
#kboard-youtube-editor .kboard-control .left { position: static; float: left; }
#kboard-youtube-editor .kboard-control .right { position: static; float: right; width: 50%; text-align: right; }
#kboard-youtube-editor.confirm { margin: 100px auto; max-width: 590px; }
#kboard-youtube-editor.confirm input[type=password] { width: 100%; box-sizing: border-box; }

#kboard-default-document { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#kboard-default-document .youtube-document-wrap { float: left; width: 100%; background-color: white; }
#kboard-default-document .youtube-title { float: left; width: 100%; }
#kboard-default-document .youtube-title h1 { margin: 0; padding: 12px 22px; color: #545861; font-weight: bold; font-size: 22px; line-height: 30px; text-align: left; }
#kboard-default-document .youtube-detail { clear: both; float: left; width: 100%; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; background-color: #f9f9f9; font-size: 14px; }
#kboard-default-document .youtube-detail .detail-attr { display: inline-block; *display: inline; zoom: 1; float: left; margin: 0; padding: 12px 35px 12px 22px; }
#kboard-default-document .youtube-detail .detail-attr .detail-name { float: left; font-weight: bold; color: #545861; text-align: right; }
#kboard-default-document .youtube-detail .detail-attr .detail-value { float: left; padding-left: 20px; color: #545861; }
#kboard-default-document .youtube-detail .detail-attr .detail-value a { color: #545861; text-decoration: none; border: 0; box-shadow: none; }
#kboard-default-document .youtube-detail .detail-attr .detail-value img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; }
#kboard-default-document .youtube-content { clear: both; float: left; width: 100%; min-height: 200px; }
#kboard-default-document .youtube-content .content-view { margin: 0; padding: 22px; word-break: break-all; }
#kboard-default-document .youtube-content .content-view iframe { max-width: 100%; }
#kboard-default-document .youtube-content .content-view img { display: inline; margin: 0; vertical-align: middle; max-width: 100%; }
#kboard-default-document .youtube-content .content-view hr { margin: 10px 0; padding: 0; height: 1px; border: 0; background-color: #f1f1f1; }
#kboard-default-document .youtube-content .content-view ul { margin: 0.75em 0; }
#kboard-default-document .youtube-content .content-view ol { margin: 0.75em 0; }
#kboard-default-document .youtube-content .content-view p { margin: 0 0 0.75em; }
#kboard-default-document .youtube-content .content-view p:last-child { margin: 0; }
#kboard-default-document .youtube-content .content-view .thumbnail-area { text-align: center; }
#kboard-default-document .youtube-content .content-view .aligncenter { display: block; margin-right: auto; margin-left: auto; }
#kboard-default-document .youtube-content .content-view .alignright { float:right; }
#kboard-default-document .youtube-content .content-view .alignleft { float: left; }
#kboard-default-document .youtube-document-action { padding: 0 22px 5px 22px; overflow: hidden; line-height: 1; }
#kboard-default-document .youtube-document-action .left { position: static; float: left; }
#kboard-default-document .youtube-document-action .right { position: static; float: right; text-align: right; }
#kboard-default-document .youtube-attach { clear: both; margin: 0 22px; padding: 10px 0 5px 0; font-size: 13px; overflow: hidden; line-height: 1; border-top: 1px dashed #ededed; }
#kboard-default-document .youtube-button-action { margin: 0 0 5px 0; padding: 4px 5px; font-size: 13px; font-weight: normal; line-height: 12px; text-align: left; border: 1px solid #ededed; background: none; background-color: white; border-radius: 2px; letter-spacing: normal; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; }
#kboard-default-document .youtube-button-action span { position: static; display: inline; margin: 0; padding: 0; font-size: 13px; line-height: 12px; }
#kboard-default-document .youtube-button-like { color: #ff5959; }
#kboard-default-document .youtube-button-unlike { color: #3d62aa; }
#kboard-default-document .youtube-button-print { color: gray; }
#kboard-default-document .youtube-button-download { color: gray; }
#kboard-default-document .youtube-comments-area { float: left; width: 100%; }
#kboard-default-document .youtube-document-navi { float: left; padding-top: 15px; width: 100%; }
#kboard-default-document .youtube-document-navi a { display: block; text-decoration: none; border: 0; font-size: 14px; line-height: 20px; box-shadow: none; color: #545861; transition-duration: .3s; }
#kboard-default-document .youtube-document-navi .navi-document-title { display: block; }
#kboard-default-document .youtube-document-navi .navi-arrow { position: absolute; display: block; }
#kboard-default-document .youtube-document-navi .youtube-prev-document { position: relative; float: left; width: 45%; }
#kboard-default-document .youtube-document-navi .youtube-prev-document .navi-document-title { padding-left: 15px; }
#kboard-default-document .youtube-document-navi .youtube-prev-document .navi-arrow { left: 0; top: 0; }
#kboard-default-document .youtube-document-navi .youtube-prev-document:hover a { color: black; }
#kboard-default-document .youtube-document-navi .youtube-next-document { position: relative; float: right; width: 45%; text-align: right; }
#kboard-default-document .youtube-document-navi .youtube-next-document .navi-document-title { padding-right: 15px; }
#kboard-default-document .youtube-document-navi .youtube-next-document .navi-arrow { right: 0; top: 0; }
#kboard-default-document .youtube-document-navi .youtube-next-document:hover a { color: black; }
#kboard-default-document .youtube-control { float: left; padding: 15px 0;  width: 100%; }
#kboard-default-document .youtube-control .left { position: static; float: left; }
#kboard-default-document .youtube-control .right { position: static; float: right; text-align: right; }

#kboard-default-latest table { display: table; table-layout: fixed; width: 100%; border: 0; border-bottom: 1px solid #f1f1f1; }
#kboard-default-latest table tr { padding: 0; border: 0; }
#kboard-default-latest table th { padding: 5px 0; height: auto; border: 0; text-align: center; }
#kboard-default-latest table td { padding: 5px 0; height: auto; border: 0; border-top: 1px solid #f1f1f1; vertical-align: middle; }
#kboard-default-latest table td.youtube-latest-title { text-align: left; }
#kboard-default-latest table .youtube-latest-title { padding-left: 5px; font-size: 14px; }
#kboard-default-latest table .youtube-latest-title a { text-decoration: none; box-shadow: none; }
#kboard-default-latest table .youtube-latest-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; }
/* #kboard-default-latest table .youtube-latest-title .youtube-comments-count { } */
#kboard-default-latest table .youtube-latest-date { width: 80px; text-align: center; font-size: 14px; }

.youtube #kboard-thumbnail-document{width: 100%; margin: 0;}
.youtube #kboard-thumbnail-document hr{display: none;}
.youtube #kboard-thumbnail-document .option-name{display: inline; margin: 0; padding: 0 10px 0 10px; width: 120px; color: #545861; font-size: 14px; font-weight: bold;}
.youtube #kboard-thumbnail-document .kboard-document-navi > div{width: 46%;}
.youtube #kboard-thumbnail-document .kboard-document-navi .kboard-next-document{text-align: right;}
.kboard-document-add-option-value.meta-key-url_youtube{display: flex; flex-flow: row;}
.kboard-document-add-option-value.meta-key-url_youtube span:last-child{margin-left: 6px;}
@media screen and (max-width: 1380px) {
	.youtube #kboard-thumbnail-document .kboard-detail .detail-content .detail-value{width: calc(100% - 120px);}
	.youtube #kboard-thumbnail-document .kboard-detail .detail-content img{width: 80%; max-width: inherit;}
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li a{width: 30px; height: 30px; line-height: 28px; font-size: 18px;}
}
@media screen and (max-width: 1024px) {
	#youtube-list-wrap .youtube-category.category-mobile { display: block; }
	#youtube-list-wrap .youtube-category.category-pc { display: none; }
	#youtube-list-wrap .youtube-tree-category-search .youtube-search-option-wrap.select { width: 100%; }
	#youtube-list-wrap .youtube-list table { border-top: 1px solid #f1f1f1; }
	#youtube-list-wrap .youtube-list table thead { display: none; }
	#youtube-list-wrap .youtube-list table td.youtube-list-title { padding: 10px 5px; }
	#youtube-list-wrap .youtube-list table td.youtube-list-title .youtube-default-cut-strings { margin-bottom: 10px; white-space: normal; font-size: 15px; line-height: 23px; }
	#youtube-list-wrap .youtube-list table td.youtube-list-uid,
	#youtube-list-wrap .youtube-list table td.youtube-list-user,
	#youtube-list-wrap .youtube-list table td.youtube-list-date,
	#youtube-list-wrap .youtube-list table td.youtube-list-vote,
	#youtube-list-wrap .youtube-list table td.youtube-list-view { display: none; }
	#youtube-list-wrap .youtube-list .youtube-mobile-contents { display: block; }
	/*
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.first-page,
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.last-page,
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.prev-page,
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.next-page,
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.active { display: inline-block; }
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.prev-page a,
	#youtube-list-wrap .youtube-pagination .youtube-pagination-pages li.next-page a { padding: 0 18px; } */
	#youtube-list-wrap .youtube-search select { float: left; margin-right: 1%; width: 29%; min-width: 29%; height: 28px; line-height: 28px; box-sizing: border-box; }
	#youtube-list-wrap .youtube-search input { float: left; margin-right: 1%; width: 49%; min-width: 49%; height: 28px; line-height: 28px; box-sizing: border-box; }
	#youtube-list-wrap .youtube-search button { float: left; width: 20%; min-width: 20%; box-sizing: border-box; }
	/*모바일 수정 사항*/
	#youtube-list-wrap .youtube-list { margin-bottom:0;}
	#youtube-list-wrap .youtube-text { margin:0; padding:8px 25px 24px 25px;}
	#youtube-list-wrap .youtube-text span.youtube-title { font-size: 17px; line-height: 22px;}

	#kboard-default-editor select,
	#kboard-default-editor input[type=text],
	#kboard-default-editor input[type=email],
	#kboard-default-editor input[type=number],
	#kboard-default-editor input[type=date],
	#kboard-default-editor input[type=password],
	#kboard-default-editor input[type=file] { width: 100% !important; box-sizing: border-box; }
	#kboard-default-editor .youtube-attr-row { padding: 10px 0; }
	#kboard-default-editor .youtube-attr-row .attr-name { padding: 0; width: 100%; font-size: 14px; }
	#kboard-default-editor .youtube-attr-row .attr-value { margin: 0; }
	#kboard-default-editor .youtube-attr-row .attr-value .youtube-tree-category-wrap select { margin-bottom: 10px; width: 100%; }
	#kboard-default-editor.confirm { max-width: none; }

	#kboard-default-document .youtube-title h1 { padding: 10px 5px; font-size: 18px; }
	#kboard-default-document .youtube-content .content-view { padding: 10px 5px; }
	#kboard-default-document .youtube-detail .detail-attr { clear: both; padding: 10px 5px; line-height: normal; }
	#kboard-default-document .youtube-document-action { padding: 10px 5px 5px 5px; }
	#kboard-default-document .youtube-attach { margin: 0 5px; padding: 10px 0 5px 0; }
	#kboard-default-document .youtube-document-navi .youtube-prev-document { width: 100%; }
	#kboard-default-document .youtube-document-navi .youtube-next-document { margin-top: 10px; float: left; width: 100%; text-align: left; }
}
@media screen and (max-width: 768px) {
	#youtube-list-wrap .youtube-list ul li { width:100%;}
	#youtube-list-wrap .youtube-list ul { row-gap:0px; column-gap:0px;}
	#youtube-list-wrap .board-more-btn a:hover{background: #e9e9e9;}
	#kboard-youtube-editor { padding: 0 24px;}
	.youtube #kboard-thumbnail-document{width: 100%; padding: 24px;}
	#kboard-thumbnail-document .kboard-title{margin: 0 0 30px;}
	#kboard-thumbnail-document .kboard-title h1{margin: 0; font-size: 21px;}
}