@charset "utf-8";/**
 * @author https://www.cosmosfarm.com */

a.event-default-button-small,
input.event-default-button-small,
button.event-default-button-small { position: relative; display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 10px; width: auto; height: 28px; line-height: 28px; font-size: 14px; font-weight: normal; letter-spacing: normal; color: #545861 !important; background: #eaeaea !important; border: none; border-radius: 0; text-decoration: none !important; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; transition-duration: 0.3s; box-sizing: content-box; } 
a.event-default-button-small:hover,
a.event-default-button-small:focus,
a.event-default-button-small:active,
input.event-default-button-small:hover,
input.event-default-button-small:focus,
input.event-default-button-small:active,
button.event-default-button-small:hover,
button.event-default-button-small:focus,
button.event-default-button-small:active { opacity: 0.7; } 

.event-default-poweredby { float: left; padding-bottom: 15px; width: 100%; font-size: 14px; } 
.event-default-new-notify { display: inline-block; *display: inline; zoom: 1; padding: 2px 2px; line-height: 10px; font-size: 10px; color: white; background-color: #f61b5d; font-weight: normal; } 
.event-default-cut-strings { width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; } 

#event-list-wrap { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; } 

#event-list-wrap .category-mobile { display: none; } 
#event-list-wrap .kboard-category-list { margin: 0; padding: 0; list-style: none;} 
#event-list-wrap .kboard-category-list li { display: inline-block; margin: 0 8px 0 0; padding: 0; } 
#event-list-wrap .kboard-category-list li:last-child { margin-right: 0; } 
#event-list-wrap .kboard-category-list li a { display: inline-block; padding: 5px 16px; font-size: 14px; font-weight: 400; line-height: 20px; color: #111; border: 1px solid #A6A6A6; border-radius: 30px; } 
#event-list-wrap .kboard-category-list li.kboard-category-selected a { color: #fff; background: #111; border: none; } 

#event-list-wrap form { margin: 0; padding: 0; } 
#event-list-wrap .event-list-header { float: left; display: table; padding-bottom: 15px; width: 100%; } 
#event-list-wrap .event-list-header .event-total-count { *float: left; display: table-cell; font-size: 14px; } 
#event-list-wrap .event-list-header .event-sort { *float: right; display: table-cell; text-align: right; } 
#event-list-wrap .event-list-header .event-sort select { display: inline; margin: 0; padding: 0; width: auto; min-width: 0; max-width: none; height: 26px; min-height: 0; line-height: 26px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: content-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; } 
#event-list-wrap .event-category { float: left; padding-bottom: 15px; width: 100%; } 
#event-list-wrap .event-category.category-mobile { display: none; } 
#event-list-wrap .event-category.category-pc { display: block; } 
#event-list-wrap .event-category select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; min-width: 100%; height: 28px; min-height: 0; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; } 
#event-list-wrap .event-category .event-category-list { margin: 0 0 5px 0; padding: 0; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; } 
#event-list-wrap .event-category .event-category-list li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; } 
#event-list-wrap .event-category .event-category-list li::before,
#event-list-wrap .event-category .event-category-list li::after { display: none; } 
#event-list-wrap .event-category .event-category-list li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; } 
#event-list-wrap .event-category .event-category-list li.event-category-selected a { font-weight: bold; border-bottom: 2px solid #545861; color: #545861; } 
#event-list-wrap .event-tree-category-wrap { overflow: hidden; } 
#event-list-wrap .event-tree-category-wrap select { display: inline; margin: 0 0 5px 0; padding: 0; width: 100%; height: 28px; line-height: 28px; font-size: 13px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: white; vertical-align: middle; box-shadow: none; box-sizing: border-box; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; } 
#event-list-wrap .event-tree-category-search .event-search-option-wrap.type-select { width: auto; } 
#event-list-wrap .event-tree-category-search .event-search-option-wrap.type-tab { width: 100%; } 
#event-list-wrap .event-tree-category { float: left; margin: 0 0 5px 0; padding: 0; width: 100%; list-style: none; border: 0; background-color: #f9f9f9; overflow: hidden; } 
#event-list-wrap .event-tree-category li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 5px; border: 0; list-style: none; } 
#event-list-wrap .event-tree-category li::before,
#event-list-wrap .event-tree-category li::after { display: none; } 
#event-list-wrap .event-tree-category li a { display: block; padding: 10px 10px 8px 10px; font-size: 14px; border: 0; border-bottom: 2px solid transparent; text-decoration: none; text-shadow: none; box-shadow: none; color: #515151; } 
#event-list-wrap .event-tree-category li.event-category-selected a { font-weight: bold; border-bottom: 2px solid #545861; color: #545861; } 
#event-list-wrap .event-tree-category-search { float: left; width: 100%; } 
#event-list-wrap .event-tree-category-search .event-search-option-wrap { margin-right: 5px; float: left; } 
#event-list-wrap .event-list { position:relative; width: 100%; margin-top:24px; margin-bottom:100px; } 
#event-list-wrap .event-list .swiper-container { width:100%; } 
#event-list-wrap .event-list ul.swiper-wrapper { margin: 0; padding: 0; width: 100%; list-style: none; } 
#event-list-wrap .event-list ul.swiper-wrapper li.swiper-slide { position: relative; /*max-width: 350px;*/ transition-duration: 0.3s; } 
#event-list-wrap .event-list ul li a { display: block; width: 100%; } 
#event-list-wrap .event-list-thumbnail { display: block; position: relative; width: 100%; height: 508px; background-size: cover; background-position: center center; } 
#event-list-wrap .event-text { margin-top:20px; color:#111; text-align:left; } 
#event-list-wrap .event-text span.event-title { display: block; font-size: 20px; font-weight:500; } 
#event-list-wrap .event-text span.event-caption { display: block; font-size: 15px; font-weight:400; } 
#event-list-wrap .event-text span.event-date { display:block; margin-top:12px; font-size:15px; font-weight:400; line-height:17px; color:#777; text-align:right; } 
#event-list-wrap .event-button { display:block; width:100%; height:50px; margin-top:20px; background:none !important; border-radius:4px; border:1px solid #000; font-size:16px; font-weight:500; color:#000; letter-spacing: -0.02em; line-height:49px; text-align:center; } 
#event-list-wrap .swiper-slide:hover .event-button { background:#ef426f !important; border:1px solid #ef426f !important; color:#fff; font-weight:400; } 
#event-list-wrap .event-button span { position:relative; display:inline-block; width:9px; height:12px; margin-left:17px; transform: translateY(-1px); } 
#event-list-wrap .event-button span.btn-arrow::before { content:''; display:block; width:100%; height:1px; position:absolute; top:50%; right:0; transform-origin:right; transform:rotate(45deg); background-color:#333; } 
#event-list-wrap .event-button span.btn-arrow::after { content:''; display:block; width:100%; height:1px; position:absolute; top:50%; right:0; transform-origin:right; transform:rotate(-45deg); background-color:#333; } 
#event-list-wrap .swiper-slide:hover .event-button span.btn-arrow::before { display:block; width:100%; height:1px; position:absolute; top:50%; right:0; transform-origin:right; transform:rotate(45deg); background-color:#fff; } 
#event-list-wrap .swiper-slide:hover .event-button span.btn-arrow::after { display:block; width:100%; height:1px; position:absolute; top:50%; right:0; transform-origin:right; transform:rotate(-45deg); background-color:#fff; } 
#event-list-wrap .swiper-button-next, #event-list-wrap .swiper-button-prev { position:absolute; top:40%; transform:scale(0.6); z-index:10; filter: grayscale(1) brightness(0.9); } 
#event-list-wrap .swiper-button-next { right:-50px; } 
#event-list-wrap .swiper-button-prev { left:-50px; } 
/* #event-list-wrap .swiper-button-disabled { opacity:1; } */
#event-list-wrap .event-mobile-button { display:none;}

#event-list-wrap .event-list .event-mobile-contents { display: none; font-size: 13px; color: #999999; } 
#event-list-wrap .event-list .event-mobile-contents .contents-item { display: inline; margin: 0; padding: 0; } 
#event-list-wrap .event-list .event-mobile-contents .contents-item img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; } 
#event-list-wrap .event-list .event-mobile-contents .contents-separator { display: inline; margin: 0; padding: 0 2px; color: #bebebe; } 
#event-list-wrap .event-pagination { float: left; padding: 15px 0; width: 100%; } 
#event-list-wrap .event-pagination .event-pagination-pages { float: left; margin: 0; padding: 0; width: 100%; list-style: none; text-align: center; border: 0; } 
#event-list-wrap .event-pagination .event-pagination-pages li { display: inline-block; *display: inline; zoom: 1; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; } 
#event-list-wrap .event-pagination .event-pagination-pages li a { display: block; margin: 0; padding: 0 11px; height: 28px; line-height: 28px; font-size: 14px; color: #999999; text-decoration: none; border: 0; background-color: #f9f9f9; box-shadow: none; transition-duration: 0.3s; } 
#event-list-wrap .event-pagination .event-pagination-pages li:hover a,
#event-list-wrap .event-pagination .event-pagination-pages li.active a { border: 0; color: #545861; } 
#event-list-wrap .event-pagination .event-pagination-pages li:before { display: none; } 
#event-list-wrap .event-pagination .event-pagination-pages li:after { display: none; } 
#event-list-wrap .event-search { float: left; padding-bottom: 15px; width: 100%; text-align: center; } 
#event-list-wrap .event-search select { display: inline; margin: 0; padding: 0 5px; width: 100px; min-width: 0; max-width: 100px; height: 26px; min-height: 0; font-size: 14px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; } 
#event-list-wrap .event-search input { display: inline; margin: 0; padding: 0 5px; width: 200px; min-width: 0; max-width: 200px; height: 26px; min-height: 0; font-size: 14px; color: #666666; border-radius: 0; border: 1px solid #f1f1f1; background: none; background-color: white; line-height: 26px; vertical-align: middle; box-shadow: none; box-sizing: content-box; } 
#event-list-wrap .event-control { float: left; padding-bottom: 15px; width: 100%; text-align: right; } 

#kboard-thumbnail-editor.event-thumbnail-editor{width: 1420px; margin: 0 auto 105px;}
.event-editor-tit{margin: 0 0 60px;}
.event-editor-tit h2{ display: inline-block; margin: 0 80px 0 0; font-size: 32px; font-weight: 700; line-height: 42px;} 
#kboard-default-editor { overflow: hidden; } 
#kboard-default-editor form { margin: 0; padding: 0; } 
#kboard-default-editor select { display: inline; margin: 0; padding: 0 5px; font-size: 14px; width: 30%; height: 28px; line-height: 28px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; text-indent: 0; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist; } 
#kboard-default-editor input[type=text],
#kboard-default-editor input[type=email],
#kboard-default-editor input[type=number],
#kboard-default-editor input[type=date],
#kboard-default-editor input[type=password] { display: inline; margin: 0; padding: 0 5px; width: 70%; height: 28px; line-height: 28px; font-size: 14px; color: #666666; border-radius: 0; border: 0; border-bottom: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: content-box; vertical-align: middle; } 
#kboard-default-editor input[type=checkbox] { width: auto; -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; } 
#kboard-default-editor input[type=radio] { width: auto; -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; } 
#kboard-default-editor select:hover,
#kboard-default-editor input[type=text]:hover,
#kboard-default-editor input[type=email]:hover,
#kboard-default-editor input[type=number]:hover,
#kboard-default-editor input[type=date]:hover,
#kboard-default-editor input[type=password]:hover { border-bottom: 1px solid #9e9e9e; } 
#kboard-default-editor select:focus,
#kboard-default-editor input[type=text]:focus,
#kboard-default-editor input[type=email]:focus,
#kboard-default-editor input[type=number]:focus,
#kboard-default-editor input[type=date]:focus,
#kboard-default-editor input[type=password]:focus { border-bottom: 2px solid #9e9e9e; } 
#kboard-default-editor input[type=file] { display: inline; margin: 0; padding: 0; width: 70%; font-size: 13px; color: #666666; border-radius: 0; border: 0; box-shadow: none; background-color: transparent; } 
#kboard-default-editor .event-attr-title input { width: 70%; } 
#kboard-default-editor .event-attr-row { float: left; padding: 0 0 30px 0; width: 100%; background-color: white; } 
#kboard-default-editor .event-attr-row .attr-name { display: inline; float: left; margin: 0; padding: 0 10px 0 10px; width: 120px; line-height: 30px; color: #545861; font-size: 14px; font-weight: bold; } 
#kboard-default-editor .event-attr-row .attr-name img { display: inline; margin: 0; padding: 0; width: auto; max-width: 100%; vertical-align: middle; } 
#kboard-default-editor .event-attr-row .attr-name .attr-required-text { color: red; font-weight: normal; font-size: 13px; } 
#kboard-default-editor .event-attr-row.event-attr-content .attr-name { display: none; } 
#kboard-default-editor .event-attr-row .attr-value { margin: 0 0 0 140px; padding: 0; line-height: 30px; font-size: 14px; } 
#kboard-default-editor .event-attr-row .attr-value .attr-value-option { display: inline; padding-right: 20px; width: auto; font-size: 14px; cursor: pointer; } 
#kboard-default-editor .event-attr-row .attr-value .attr-value-option input { cursor: pointer; } 
#kboard-default-editor .event-attr-row .attr-value .attr-value-label { display: inline; padding-right: 5px; width: auto; cursor: pointer; } 
#kboard-default-editor .event-attr-row .attr-value .attr-value-label input { cursor: pointer; } 
#kboard-default-editor .event-attr-row .attr-value .description { margin: 0; color: #666666; } 
#kboard-default-editor .event-attr-row .attr-value .event-tree-category-wrap { float: left; width: 100%; } 
#kboard-default-editor .event-attr-row .attr-value .event-tree-category-wrap select { clear: both; float: left; margin-bottom: 5px; width: 30%; } 
#kboard-default-editor .event-content { float: left; margin: 0; padding: 9px 0; width: 100%; background-color: white; } 
#kboard-default-editor .event-content .editor-textarea { display: inline; margin: 0; padding: 5px; width: 100%; min-width: 100%; max-width: 100%; height: 250px; min-height: 0; font-size: 14px; border: 1px solid #dcdcdc; box-shadow: none; background: none; background-color: transparent; box-sizing: border-box; text-indent: 0; } 
#kboard-default-editor .event-control { float: left; padding: 15px 0; width: 100%; } 
#kboard-default-editor .event-control .left { position: static; float: left; } 
#kboard-default-editor .event-control .right { position: static; float: right; width: 50%; text-align: right; } 
#kboard-default-editor.confirm { margin: 100px auto; max-width: 590px; } 
#kboard-default-editor.confirm input[type=password] { width: 100%; box-sizing: border-box; } 

#kboard-default-document { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; } 
#kboard-default-document .event-document-wrap { float: left; width: 100%; background-color: white; } 
#kboard-default-document .event-title { float: left; width: 100%; } 
#kboard-default-document .event-title h1 { margin: 0; padding: 12px 22px; color: #545861; font-weight: bold; font-size: 22px; line-height: 30px; text-align: left; } 
#kboard-default-document .event-detail { clear: both; float: left; width: 100%; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; background-color: #f9f9f9; font-size: 14px; } 
#kboard-default-document .event-detail .detail-attr { *display: inline; zoom: 1; float: left; margin: 0; padding: 12px 35px 12px 22px; } 
#kboard-default-document .event-detail .detail-attr .detail-name { float: left; font-weight: bold; color: #545861; text-align: right; } 
#kboard-default-document .event-detail .detail-attr .detail-value { float: left; padding-left: 20px; color: #545861; } 
#kboard-default-document .event-detail .detail-attr .detail-value a { color: #545861; text-decoration: none; border: 0; box-shadow: none; } 
#kboard-default-document .event-detail .detail-attr .detail-value img.avatar { display: inline; margin: 0; width: 24px; max-width: none; height: 24px; vertical-align: middle; border-radius: 50%; } 
#kboard-default-document .event-content { clear: both; float: left; width: 100%; min-height: 200px; } 
#kboard-default-document .event-content .content-view { margin: 0; padding: 22px; word-break: break-all; } 
#kboard-default-document .event-content .content-view iframe { max-width: 100%; } 
#kboard-default-document .event-content .content-view img { display: inline; margin: 0; vertical-align: middle; max-width: 100%; } 
#kboard-default-document .event-content .content-view hr { margin: 10px 0; padding: 0; height: 1px; border: 0; background-color: #f1f1f1; } 
#kboard-default-document .event-content .content-view ul { margin: 0.75em 0; } 
#kboard-default-document .event-content .content-view ol { margin: 0.75em 0; } 
#kboard-default-document .event-content .content-view p { margin: 0 0 0.75em; } 
#kboard-default-document .event-content .content-view p:last-child { margin: 0; } 
#kboard-default-document .event-content .content-view .thumbnail-area { text-align: center; } 
#kboard-default-document .event-content .content-view .aligncenter { display: block; margin-right: auto; margin-left: auto; } 
#kboard-default-document .event-content .content-view .alignright { float:right; } 
#kboard-default-document .event-content .content-view .alignleft { float: left; } 
#kboard-default-document .event-document-action { padding: 0 22px 5px 22px; overflow: hidden; line-height: 1; } 
#kboard-default-document .event-document-action .left { position: static; float: left; } 
#kboard-default-document .event-document-action .right { position: static; float: right; text-align: right; } 
#kboard-default-document .event-attach { clear: both; margin: 0 22px; padding: 10px 0 5px 0; font-size: 13px; overflow: hidden; line-height: 1; border-top: 1px dashed #ededed; } 
#kboard-default-document .event-button-action { margin: 0 0 5px 0; padding: 4px 5px; font-size: 13px; font-weight: normal; line-height: 12px; text-align: left; border: 1px solid #ededed; background: none; background-color: white; border-radius: 2px; letter-spacing: normal; cursor: pointer; vertical-align: middle; text-shadow: none; box-shadow: none; } 
#kboard-default-document .event-button-action span { position: static; display: inline; margin: 0; padding: 0; font-size: 13px; line-height: 12px; } 
#kboard-default-document .event-button-like { color: #ff5959; } 
#kboard-default-document .event-button-unlike { color: #3d62aa; } 
#kboard-default-document .event-button-print { color: gray; } 
#kboard-default-document .event-button-download { color: gray; } 
#kboard-default-document .event-comments-area { float: left; width: 100%; } 
#kboard-default-document .event-document-navi { float: left; padding-top: 15px; width: 100%; } 
#kboard-default-document .event-document-navi a { display: block; text-decoration: none; border: 0; font-size: 14px; line-height: 20px; box-shadow: none; color: #545861; transition-duration: .3s; } 
#kboard-default-document .event-document-navi .navi-document-title { display: block; } 
#kboard-default-document .event-document-navi .navi-arrow { position: absolute; display: block; } 
#kboard-default-document .event-document-navi .event-prev-document { position: relative; float: left; width: 45%; } 
#kboard-default-document .event-document-navi .event-prev-document .navi-document-title { padding-left: 15px; } 
#kboard-default-document .event-document-navi .event-prev-document .navi-arrow { left: 0; top: 0; } 
#kboard-default-document .event-document-navi .event-prev-document:hover a { color: black; } 
#kboard-default-document .event-document-navi .event-next-document { position: relative; float: right; width: 45%; text-align: right; } 
#kboard-default-document .event-document-navi .event-next-document .navi-document-title { padding-right: 15px; } 
#kboard-default-document .event-document-navi .event-next-document .navi-arrow { right: 0; top: 0; } 
#kboard-default-document .event-document-navi .event-next-document:hover a { color: black; } 
#kboard-default-document .event-control { float: left; padding: 15px 0; width: 100%; } 
#kboard-default-document .event-control .left { position: static; float: left; } 
#kboard-default-document .event-control .right { position: static; float: right; text-align: right; } 

#kboard-default-latest table { display: table; table-layout: fixed; width: 100%; border: 0; border-bottom: 1px solid #f1f1f1; } 
#kboard-default-latest table tr { padding: 0; border: 0; } 
#kboard-default-latest table th { padding: 5px 0; height: auto; border: 0; text-align: center; } 
#kboard-default-latest table td { padding: 5px 0; height: auto; border: 0; border-top: 1px solid #f1f1f1; vertical-align: middle; } 
#kboard-default-latest table td.event-latest-title { text-align: left; } 
#kboard-default-latest table .event-latest-title { padding-left: 5px; font-size: 14px; } 
#kboard-default-latest table .event-latest-title a { text-decoration: none; box-shadow: none; } 
#kboard-default-latest table .event-latest-title img { display: inline; margin: 0; width: auto; height: auto; vertical-align: middle; max-width: 100%; } 
/* #kboard-default-latest table .event-latest-title .event-comments-count { }  */
#kboard-default-latest table .event-latest-date { width: 80px; text-align: center; font-size: 14px; } 

#kboard-list-empty {margin: 160px auto 200px;text-align: center; } 
#kboard-list-empty .empty-img {width: 280px;margin: 0 auto !important; } 
#kboard-list-empty .empty-info-txt {display: inline-block;margin: 0;padding-left: 40px;background: url('https://www.etude.com/wp-content/uploads/2022/06/ico-info-blue.svg') no-repeat;background-position: left center;background-size: 28px 28px;font-size: 15px;font-weight: 400;line-height: 27px;text-align: center;color: #a6a6a6; } 

/*에디터 리뉴얼*/
#kboard-thumbnail-editor.event-thumbnail-editor{width: 1380px; margin: 0 auto 105px;}
@media screen and (max-width: 1380px) {
    #kboard-thumbnail-editor.event-thumbnail-editor{width: 1020px; }
}
@media screen and (max-width: 1024px) {
    #kboard-thumbnail-editor.event-thumbnail-editor{width: 90%; margin: 0 auto 100px;}
}
@media screen and (max-width: 768px) {
    #kboard-thumbnail-editor.event-thumbnail-editor{width: 90%; margin: 30px auto 60px;}
}

/*반응형 좌우여백 조정*/
@media screen and (max-width: 1520px) {
	.event-page-section { padding-left:60px !important; padding-right:60px !important;}
	#event-list-wrap .swiper-button-prev { left:-42px;}
    #event-list-wrap .swiper-button-next { right:-42px;}
}
@media screen and (max-width: 1380px) {
	#event-list-wrap .event-button { font-size:14px;}
}
@media screen and (max-width: 1024px) {
	#event-list-wrap .event-button { font-size:16px;}
}


@media screen and (max-width: 768px) {
	.page-id-9289 footer { display:none !important;}
	.event-page-section { padding-left:0px !important; padding-right:0px !important;}
	#event-list-wrap .event-list-head { display:block;}
	#event-list-wrap .event-list-category { width:100%; background:#fafafa; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);}
 	#event-list-wrap .kboard-category.category-mobile { display: block; } 
	#event-list-wrap .kboard-category.category-pc { display: none; }
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list { overflow-x: auto; white-space: nowrap; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list::-webkit-scrollbar { display: none;}
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list { padding:6px 16px 9px 16px; } 
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list li { margin: 0 4px 0 0;}
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list li a { font-size:13px; border: 1px solid #E7E8EA; background:#fff;}
	#event-list-wrap .kboard-category.category-mobile .kboard-category-list li.kboard-category-selected a { background: #333; border: none; font-weight: 500; }

	#event-list-wrap .event-tree-category-search .event-search-option-wrap.select { width: 100%; } 
	#event-list-wrap .event-list { margin-bottom:0; margin-top:7px; padding-top:9px;}
	#event-list-wrap .event-list table { border-top: 1px solid #f1f1f1; } 
	#event-list-wrap .event-list table thead { display: none; } 
	#event-list-wrap .event-list table td.event-list-title { padding: 10px 5px; } 
	#event-list-wrap .event-list table td.event-list-title .event-default-cut-strings { margin-bottom: 10px; white-space: normal; font-size: 15px; line-height: 23px; } 
	#event-list-wrap .event-list table td.event-list-uid,
	#event-list-wrap .event-list table td.event-list-user,
	#event-list-wrap .event-list table td.event-list-date,
	#event-list-wrap .event-list table td.event-list-vote,
	#event-list-wrap .event-list table td.event-list-view { display: none; } 
	#event-list-wrap .event-list .event-mobile-contents { display: block; } 
	#event-list-wrap .event-list .swiper-button-prev,
	#event-list-wrap .event-list .swiper-button-next { display:none;}
	#event-list-wrap .event-list-head .event-list-title { display:none;}
	#event-list-wrap .event-list .event-button { display:none;}
	#event-list-wrap .event-mobile-button { display:block; position:fixed; left:0; bottom:0; width:100%; padding:10px 16px 40px 16px; background:#111; font-size:16px; font-weight:500; color:#f2c6cf; text-align:center; z-index:9; }
	#event-list-wrap .event-list-thumbnail { height:calc(100vh - (95px + 10px + 70px + 25px + 120px));} 
	#event-list-wrap .event-text { margin-top:14px; text-align:center; padding-bottom:10px;} 
	#event-list-wrap .event-text .event-caption { font-size:14px; margin-top:4px;} 
	#event-list-wrap .event-text .event-date { font-size:14px !important; margin-top:8px !important; text-align:center !important;} 
	#event-list-wrap .event-search select { float: left; margin-right: 1%; width: 29%; min-width: 29%; height: 28px; line-height: 28px; box-sizing: border-box; } 
	#event-list-wrap .event-search input { float: left; margin-right: 1%; width: 49%; min-width: 49%; height: 28px; line-height: 28px; box-sizing: border-box; } 
	#event-list-wrap .event-search button { float: left; width: 20%; min-width: 20%; box-sizing: border-box; } 
	#event-list-wrap .event-list .swiper-container { padding-left:20px; padding-right:25px;}

	#kboard-default-editor select,
	#kboard-default-editor input[type=text],
	#kboard-default-editor input[type=email],
	#kboard-default-editor input[type=number],
	#kboard-default-editor input[type=date],
	#kboard-default-editor input[type=password],
	#kboard-default-editor input[type=file] { width: 100% !important; box-sizing: border-box; } 
	#kboard-default-editor .event-attr-row { padding: 10px 0; } 
	#kboard-default-editor .event-attr-row .attr-name { padding: 0; width: 100%; font-size: 14px; } 
	#kboard-default-editor .event-attr-row .attr-value { margin: 0; } 
	#kboard-default-editor .event-attr-row .attr-value .event-tree-category-wrap select { margin-bottom: 10px; width: 100%; } 
	#kboard-default-editor.confirm { max-width: none; } 

	#kboard-default-document .event-title h1 { padding: 10px 5px; font-size: 18px; } 
	#kboard-default-document .event-content .content-view { padding: 10px 5px; } 
	#kboard-default-document .event-detail .detail-attr { clear: both; padding: 10px 5px; line-height: normal; } 
	#kboard-default-document .event-document-action { padding: 10px 5px 5px 5px; } 
	#kboard-default-document .event-attach { margin: 0 5px; padding: 10px 0 5px 0; } 
	#kboard-default-document .event-document-navi .event-prev-document { width: 100%; } 
	#kboard-default-document .event-document-navi .event-next-document { margin-top: 10px; float: left; width: 100%; text-align: left; } 
}


